.rowActions {
  width: 1%;
  white-space: nowrap;
}

.buttonIcon {
  font-size: 24px
}

.textSmall {
  font-size: x-small;
}

.floating-save-button {
  position: fixed;
  right: 30px;
  bottom: -100%;
  display: flex;
  flex-flow: column nowrap;
  z-index: 5;
  align-items: center;
  transition: bottom .5s;
  &.editor-has-changed {
    bottom: 30px;
  }
  &:hover .save-button {
    filter: brightness(90%);
  }
  
  &:hover > span {
    transform: scale(1);
  }
  .save-button {
    cursor: pointer;
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 15px;
    box-shadow: 5px 5px 25px 0px #000000bf;
    transition: transform .5s, background-color .5s;
    text-align: center;
    align-content: center;
    &[data-title]:before {
      position: absolute;
      opacity: 0;
      right: 100px;
      top: 20px;
      white-space: nowrap;
      color: white;
      content: attr(data-title);
      background: #000000b3;
      padding: 5px 10px;
      border-radius: 5px;
      transition: opacity .3s;
      text-transform: uppercase;
      font-weight: bold;
    }
    &:hover:before {
      opacity: 1;
    }
    .bi-save {
      font-size: 45px;
      color: white;
    }
  }
  .save-spinner {
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 15px;
    box-shadow: 5px 5px 25px 0px #000000bf;
    text-align: center;
    align-content: center;
    color: white;
  }
}

.table-sortable-header {
  th {
    min-width: 150px;
    a {
      text-decoration: none;
      &.sort {
        min-width: 80px;
        display: inline-block;
        &:after {
          padding-left: 5px;
          display: inline-block;
          font-family: bootstrap-icons !important;
          font-style: normal;
          font-weight: 400 !important;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          vertical-align: -.125em;
          -webkit-font-smoothing: antialiased;
        }
        &:not(.asc):not(.desc):hover:after {
          content: "\f57b";
        }
        &.desc:after {
          content: "\f575";
        }
        &.desc:hover:after {
          content: "\f57b";
        }
        &.asc:after {
          content: "\f57b";
        }
        &.asc:hover:after {
          content: "\f575";
        }
      }
    }
  }
}

.error-shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.logo {
  width: 50px;
}

.help {
  cursor: help;
}

.lineChartWrapper {
  display: inline-block;
  color: blue;
  box-shadow: 0 0 2px #00000099;
  background-color: #0000001c;
}
html[data-bs-theme="dark"] {
  .lineChartWrapper {
    color: #fff;
  }
}

#projectLogsGraph {
  margin: 10px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  div.pieChartWrapper {
    width: 45%;
    svg {
      transform: rotate(-90deg);
      width: 200px;
    }
    ul.pieChartLegend {
      display: inline-block;
      list-style-type: none;
      span {
        width: 15px;
        display: inline-block;
        line-height: 1;
        border-radius: 5px;
        margin-right: 10;
      }
    }
  }
}

.actionsCover {
  position: relative;
  .actions {
    display: none;
    position: absolute;
    right: 0px;
    top: -10px;
    white-space: nowrap;
    background-color: var(--bs-body-bg);
    border: 1px solid var(--bs-border-color);
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.3);
    z-index: 150;
    padding: 5px 10px;
  }
}
td.actionsCover .actions {
  top: 0px
}

tr:hover .actions,
.actionsHover:hover .actions {
  display: block;
}

.dashboardsWrapper .btnDashboard {
  color: white;
  height: 150px;
  width: 280px;
  &:hover {
    background-image: var(--bs-gradient) !important;
  }
}

.dashboardsPermissionsWrapper label.btn, .btnMinWidth {
  min-width: 150px;
}

.columnLastUsed {
  width: 200px;
}

.submenuDropdown {
  display: inline-block;
  .btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
  }
  ul {
    padding: 0px;
  }
}

.hoverBackground:hover {
  background-color: rgba(var(--bs-emphasis-color-rgb), 0.075);
}

#errorLogsInfoModal,
#projectUserPermissionsModal {
  --bs-modal-width: 750px;
}

#projectLogsSearchModal {
  --bs-modal-width: 95vw;
}

.filter ul {
  display: flex;
  flex-flow: row wrap;
  padding: 0px 10px;
  margin: 0px;
  list-style-type: none;
  li {
    padding: 0px 15px;
    margin: 10px 0px;
    width: 300px;
    position: relative;
    .filter-item {
      label.filter-item-title {
        display: block;
      }
      input, select {
        width: 100%;
      }
      .hover-items {
        opacity: 0;
        position: absolute;
        top: 0px;
        right: 15px;
        background-color: var(--bs-body-bg);
      }
      &:hover {
        .hover-items {
          opacity: 1;
        }
      }
      .btn {
        --bs-btn-padding-y: .25rem;
        --bs-btn-padding-x: .5rem;
        --bs-btn-font-size: .75rem;
      }
      .btn-outline-secondary.bg-secondary {
        color: var(--bs-btn-hover-color);
      }
      .numberBetweenWrapper {
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }
  }
}

.icon-equals::before {
  content: "=";
  display: inline-block;
  width: 12px;
  line-height: 1;
}
.icon-less::before {
  content: "<";
  display: inline-block;
  width: 12px;
  line-height: 1;
}
.icon-more::before {
  content: ">";
  display: inline-block;
  width: 12px;
  line-height: 1;
}
.icon-between::before {
  content: "><";
  display: inline-block;
  width: 12px;
  height: 12px;
  font-size: 10px;
  line-height: 1.2;
}
