:root {
  --lv-primary-dark: #3a5688;
  --lv-primary-light: #597ab0;
  --lv-table-row-odd-light: #f5fbff;
  --lv-table-row-odd-dark: #152e49;
}

.table > tbody > tr:nth-of-type(odd) > * {
  background-color: var(--lv-table-row-odd-light);
}
html[data-bs-theme="dark"] .table > tbody > tr:nth-of-type(odd) > * {
  background-color: var(--lv-table-row-odd-dark);
}

.btn-outline-primary {
  --bs-btn-color: var(--lv-primary-dark);
  --bs-btn-border-color: var(--lv-primary-dark);
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: var(--lv-primary-dark);
  --bs-btn-active-bg: transparent;
  --bs-btn-active-border-color: var(--lv-primary-dark);
  --bs-btn-disabled-color: var(--lv-primary-dark);
  --bs-btn-disabled-border-color: var(--lv-primary-dark);
  &:hover, &.active, &.show {
    background-color: var(--lv-primary-dark);
    background-image: linear-gradient(0deg, var(--lv-primary-dark) 0%, var(--lv-primary-light) 100%);
  }
}

html[data-bs-theme="dark"] .btn-outline-primary {
  --bs-btn-color: var(--lv-primary-light);
  --bs-btn-border-color: var(--lv-primary-light);
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: var(--lv-primary-light);
  --bs-btn-active-bg: transparent;
  --bs-btn-active-border-color: var(--lv-primary-light);
  --bs-btn-disabled-color: var(--lv-primary-light);
  --bs-btn-disabled-border-color: var(--lv-primary-light);
}

.btn-primary {
  background-color: var(--lv-primary-dark);
  background-image: linear-gradient(0deg, var(--lv-primary-dark) 0%, var(--lv-primary-light) 100%);
  --bs-btn-border-color: var(--lv-primary-dark);
  &:hover {
    background-color: var(--bs-btn-hover-bg) !important;
    background-image: var(--bs-gradient) !important;
  }
}

.btn-outline-secondary,
.btn-outline-dark,
.btn-outline-light {
  --bs-gradient: unset;
  &:hover {
    background-image: var(--bs-gradient) !important;
  }
}

.btn-check {
  &:checked + .btn {
    background-color: var(--lv-primary-dark);
    background-image: linear-gradient(0deg, var(--lv-primary-dark) 0%, var(--lv-primary-light) 100%);
  }
  + .btn:hover {
    color: white;
  }
}

a:not(.btn), .nav-link {
  color: var(--lv-primary-dark);
  &:hover {
    color: var(--lv-primary-light);
  }
}

html[data-bs-theme="dark"] {
  a:not(.btn), .nav-link {
    color: var(--lv-primary-light);
    &:hover {
      color: var(--lv-primary-dark);
    }
  }
}
