@media (max-width: 1000px) {
  div.pieChartWrapper {
    flex-direction: column;
    svg {
      align-self: center;
      padding-bottom: 10px;
    }
    ul.pieChartLegend {
      padding-top: 10px
    }
  }
}

@media (max-width: 540px) {
  #projectLogsGraph div.pieChartWrapper {
    width: unset;
  }
}
