<template>
  <div class="lineChartWrapper">
    <svg :width="xAxis.length * xAxisMultiplier" :height="height" :viewBox="'0 0 ' + (xAxis.length * xAxisMultiplier) + ' ' + height">
      <polyline
        fill="none" stroke="currentColor" :points="getPoints" stroke-width="2"
        stroke-linejoin="round"
      />
    </svg>
  </div>
</template>

<script>
export default {
  props: {
    width: { type: Number, required: true },
    height: { type: Number, default: 16 },
    dates: { type: Array, required: true },
    minX: { type: Date, default: null },
    maxX: { type: Date, default: null }
  },
  data () {
    return {
      type: 'daily',
      maxY: 1,
      minXReal: null,
      maxXReal: null
    }
  },
  computed: {
    getPoints () {
      const result = []
      for (let i = 0; i < this.xAxis.length; i++) {
        result.push((i * this.xAxisMultiplier) + ',' + (this.height - 1 - (this.xAxis[i].count / this.maxY * (this.height - 2))))
      }
      return result.join(' ')
    },
    xAxis () {
      if (!this.dates) {
        return []
      }
      let xAxis = []
      let minX = Math.min.apply(null, this.dates)
      if (this.minX) {
        minX = Math.min(this.minX, minX)
      }
      let maxX = Math.max.apply(null, this.dates)
      if (this.maxX) {
        maxX = Math.max(this.maxX, maxX)
      }
      const timeDiff = Math.abs(maxX - minX)
      const diffSeconds = Math.ceil(timeDiff / 1000)
      this.setType(diffSeconds)
      this.setMinXMaxXReal(new Date(minX), new Date(maxX))
      let myDate = new Date(this.minXReal.getTime())
      const stopTime = this.maxXReal.getTime()
      while (myDate.getTime() <= stopTime) {
        xAxis.push({ date: new Date(myDate.getTime()), count: 0 })
        myDate = this.addStandardInterval(myDate)
      }
      xAxis = this.attachCounts(xAxis, this.dates)
      this.setMaxY(xAxis)
      return xAxis
    },
    xAxisMultiplier () {
      return Math.max(1, Math.floor(this.width / this.xAxis.length))
    }
  },
  methods: {
    attachCounts (xAxis, dates) {
      for (let index = 0; index < dates.length; index++) {
        for (let i2 = xAxis.length - 1; i2 >= 0; i2--) {
          if (xAxis[i2].date.getTime() <= dates[index].getTime()) {
            xAxis[i2].count++
            break
          }
        }
      }
      return xAxis
    },
    setMaxY (xAxis) {
      this.maxY = Math.max(1, Math.max.apply(null, xAxis.map(item => item.count)))
      return this.maxY
    },
    setType (diffSeconds) {
      const diffHours = diffSeconds / 3600
      const diffDays = diffHours / 24
      if (diffHours < this.width) {
        this.type = 'hourly'
      } else if (diffDays < this.width) {
        this.type = 'daily'
      } else if (diffDays / 7 < this.width) {
        this.type = 'weekly'
      } else if (diffDays / 30 < this.width) {
        this.type = 'monthly'
      } else {
        this.type = 'annually'
      }
      return this.type
    },
    setMinXMaxXReal (minX, maxX) {
      let minHours = 0
      let maxHours = 0
      if (this.type === 'hourly') {
        minHours = minX.getHours()
        maxHours = maxX.getHours()
      }
      this.minXReal = new Date(minX.getFullYear(), minX.getMonth(), minX.getDate(), minHours)
      this.maxXReal = new Date(maxX.getFullYear(), maxX.getMonth(), maxX.getDate(), maxHours)

      switch (this.type) {
        case 'hourly':
          return
        case 'daily':
          return
        case 'weekly':
          this.minXReal.setDate(this.minXReal.getDate() - ((this.minXReal.getDay() - 1 + 7) % 7))
          return
        case 'monthly':
          this.minXReal.setDate(this.minXReal.getDate() - (this.minXReal.getDate() - 1))
          return
        case 'annually':
          this.minXReal.setDate(this.minXReal.getDate() - (this.minXReal.getDate() - 1))
          this.minXReal.setMonth(0)
          return
        default:
          break
      }
      console.warn('minX maxX for type ' + this.type + 'is not defined')
    },
    addStandardInterval (myDate) {
      switch (this.type) {
        case 'hourly':
          myDate.setHours(myDate.getHours() + 1)
          break
        case 'daily':
          myDate.setDate(myDate.getDate() + 1)
          break
        case 'weekly':
          myDate.setDate(myDate.getDate() + 7)
          break
        case 'monthly':
          myDate.setMonth(myDate.getMonth() + 1)
          break
        case 'annually':
          myDate.setMonth(myDate.getMonth() + 12)
          break
        default:
          break
      }
      return myDate
    }
  }
}
</script>
