<template>
  <div class="filterSave">
    <a href="#" class="btn btn-outline-primary" @click.prevent.stop="saveDisplay = !saveDisplay">Save current filter</a>
    <slide-up-down>
      <div v-if="saveDisplay" class="mt-2">
        <input
          v-model="name" type="text" class="form-control" :class="{ 'error-shake': errorShake }"
          placeholder="Enter filter name"
        >
        <div v-show="errorNameShow" class="text-danger mt-1">
          Please enter a name.
        </div>

        <input type="submit" class="btn btn-outline-success float-end ms-2 mt-2" value="Save" @click="save(false)">
        <input
          v-if="filterCurrent?._id" type="submit" class="btn btn-outline-success float-end mt-2" value="Update previous"
          @click="save(true)"
        >
      </div>
    </slide-up-down>
  </div>
</template>

<script>
import SlideUpDown from './SlideUpDown.vue'

export default {
  components: {
    SlideUpDown
  },
  props: {
    filterItems: { type: Object, required: true },
    filterCurrent: { type: Object, default: null }
  },
  emits: ['update:filters'],
  data () {
    return {
      projectHandle: window.projectHandle,
      name: this.filterCurrent?.key || '',
      errorNameShow: false,
      saveDisplay: false,
      errorShake: false
    }
  },
  watch: {
    filterCurrent (newVal) {
      this.name = newVal?.key || ''
    }
  },
  methods: {
    validate () {
      if (!this.name || this.name.length === 0) {
        this.errorNameShow = true
        this.errorShake = true
        setTimeout(() => { this.errorShake = false }, 1000)
        return false
      } else {
        this.errorNameShow = false
      }
      return true
    },
    save (updatePrevious) {
      if (!this.validate()) {
        return
      }

      const filterData = { project_handle: this.projectHandle, handle: 'filters', key: this.name, settings: this.filterItems, active: 1, favourite: this.filterCurrent?.favourite ? this.filterCurrent.favourite : 0 }
      const id = updatePrevious && this.filterCurrent?._id ? this.filterCurrent._id : 'new'
      window.asyncRequest('api/parser/' + id + '/save', filterData)
        .then(response => {
          if (response) {
            window.messageShow('Successful saved filter', 'success')
            filterData._id = response.id
            this.$emit('update:filters', filterData)
            this.saveDisplay = false
          }
        })
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
