<template>
  <div class="filter-item">
    <div v-if="searchable.key !== '_id'" class="hover-items">
      <template v-if="showDropdown">
        <a
          v-if="!Array.isArray(filterValue.value)" class="btn btn-outline-secondary" href="#" role="button"
          title="Switch to multiple select" @click.prevent.stop="filterValue.value = filterValue.value ? [filterValue.value] : []"
        >
          <i class="bi bi-list" />
        </a>
      </template>
      <template v-else>
        <template v-for="filterType in filterTypes" :key="filterType.type">
          <a
            class="btn btn-outline-secondary ms-1" :class="{ 'bg-secondary': filterValue.filter === filterType.type }" href="#" role="button"
            :title="filterType.title" @click.prevent.stop="filterValue.filter = filterType.type"
          >
            <i :class="filterType.icon" />
          </a>
        </template>
      </template>
      <a
        class="btn btn-outline-secondary ms-1" :class="{ 'bg-secondary': !filterValue.negative }" href="#" role="button"
        title="Filter items matching the query" @click.prevent.stop="filterValue.negative = false"
      >
        <i class="bi bi-check-lg" />
      </a>
      <a
        class="btn btn-outline-secondary ms-1" :class="{ 'bg-secondary': filterValue.negative }" href="#" role="button"
        title="Filter items not matching the query" @click.prevent.stop="filterValue.negative = true"
      >
        <i class="bi bi-ban" />
      </a>
    </div>
    <label :for="searchable.key + 'Input'" class="filter-item-title"><strong>{{ searchable.key }}</strong></label>
    <span v-if="showDropdown">
      <select :id="searchable.key + 'Input'" v-model="filterValue.value" :multiple="isMultiple" class="form-select">
        <option v-if="!isMultiple" :value="null">-- any --</option>
        <option v-for="item in searchable.items" :key="item" :value="item">{{ item }}</option>
      </select>
    </span>
    <input
      v-else :id="searchable.key + 'Input'" v-model="inputValue" class="form-control"
      type="text" placeholder="Type in keyword" @input="filterValueUpdate()"
    />
  </div>
</template>

<script>

export default {
  props: {
    modelValue: { type: Object, default: null },
    searchable: { type: Object, required: true }
  },
  emits: ['update:model-value'],
  data () {
    return {
      dropdownMaxItems: 50,
      filterValue: this.modelValue ? this.modelValue : { type: 'string', value: null, filter: this.searchable.key !== '_id' ? 'regex' : 'equals', negative: false },
      filterTypes: [
        { type: 'equals', title: 'Match value exactly', icon: 'icon-equals' },
        { type: 'starts', title: 'Filter values that start with', icon: 'bi bi-align-start' },
        { type: 'contains', title: 'Filter values that contain', icon: 'bi bi-align-center' },
        { type: 'ends', title: 'Filter values that end with', icon: 'bi bi-align-end' },
        { type: 'regex', title: 'Use value as regex', icon: 'bi bi-regex' }
      ],
      inputValue: '',
      inputTimeout: null
    }
  },
  computed: {
    showDropdown () {
      if (this.searchable.forceInput) {
        return this.searchable.forceInput === 'select'
      }
      return this.searchable.items.length <= this.dropdownMaxItems && this.searchable.key !== 'message'
    },
    isMultiple () {
      return this.filterValue.value !== null && Array.isArray(this.filterValue.value)
    }
  },
  watch: {
    modelValue: {
      deep: true,
      handler: function () {
        this.filterValue = this.modelValue ? this.modelValue : { type: 'string', value: null, filter: this.searchable.key !== '_id' ? 'regex' : 'equals', negative: false }
      }
    },
    filterValue: {
      deep: true,
      handler: function () {
        this.inputValue = this.filterValue?.value ? this.filterValue?.value : ''
        this.$emit('update:model-value', this.filterValue)
      }
    }
  },
  created () {
    if ((this.showDropdown || this.searchable.key === '_id') && this.filterValue.filter !== 'equals') {
      this.filterValue.filter = 'equals'
    }
    if (typeof this.filterValue?.value === 'string') {
      this.inputValue = this.filterValue.value
    }
  },
  methods: {
    filterValueUpdate () {
      clearTimeout(this.inputTimeout)
      this.inputTimeout = setTimeout(() => {
        this.filterValue.value = this.inputValue
      }, 500)
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
