<template>
  <div class="filter-item">
    <div class="hover-items">
      <a
        v-if="filterValue && !Array.isArray(filterValue.value)" class="btn btn-secondary" href="#" role="button"
        title="Switch to multiple select" @click.prevent.stop="filterValue.value = filterValue.value ? [filterValue.value] : []"
      >
        <i class="bi bi-list" />
      </a>
      <a
        class="btn btn-outline-secondary ms-1" :class="{ 'bg-secondary': !filterValue.negative }" href="#" role="button"
        title="Filter items not matching the query" @click.prevent.stop="filterValue.negative = false"
      >
        <i class="bi bi-check-lg" />
      </a>
      <a
        class="btn btn-outline-secondary ms-1" :class="{ 'bg-secondary': filterValue.negative }" href="#" role="button"
        title="Filter items matching the query" @click.prevent.stop="filterValue.negative = true"
      >
        <i class="bi bi-ban" />
      </a>
    </div>
    <label :for="searchable.key + 'Select'" class="filter-item-title"><strong>{{ searchable.key }}</strong></label>
    <select :id="searchable.key + 'Select'" v-model="filterValue.value" :multiple="isMultiple" class="form-select">
      <option v-if="filterValue && !isMultiple" :value="null">
        -- any --
      </option>
      <option v-for="item in searchable.items" :key="item" :value="item">
        {{ item }}
      </option>
    </select>
  </div>
</template>

<script>

export default {
  props: {
    modelValue: { type: Object, default: null },
    searchable: { type: Object, required: true }
  },
  emits: ['update:model-value'],
  data () {
    return {
      filterValue: this.modelValue ? this.modelValue : { type: 'array', value: null, filter: 'equals', negative: false }
    }
  },
  computed: {
    isMultiple () {
      return this.filterValue.value !== null && Array.isArray(this.filterValue.value)
    }
  },
  watch: {
    modelValue: {
      deep: true,
      handler: function () {
        this.filterValue = this.modelValue ? this.modelValue : { type: 'array', value: this.isMultiple ? [] : null, filter: 'equals', negative: false }
      }
    },
    filterValue: {
      deep: true,
      handler: function () {
        this.$emit('update:model-value', this.filterValue)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.filter-item {
  label.filter-item-title {
    display: block;
  }
  input, select {
    width: 100%;
  }
  .hover-items {
    opacity: 0;
    position: absolute;
    top: 0px;
    right: 15px;
    background-color: var(--bs-body-bg);
  }
  &:hover {
    .hover-items {
      opacity: 1;
    }
  }
  .btn {
    --bs-btn-padding-y: .25rem;
    --bs-btn-padding-x: .5rem;
    --bs-btn-font-size: .75rem;
  }
  .icon-equals::before {
    content: "=";
    display: inline-block;
    width: 12px;
    line-height: 1;
  }
  .btn-outline-secondary.bg-secondary {
    color: var(--bs-btn-hover-color);
  }
}
</style>
