<template>
  <div class="filter-item">
    <div class="hover-items">
      <template v-for="filterType in filterTypes" :key="filterType.type">
        <a
          class="btn btn-outline-secondary ms-1" :class="{ 'bg-secondary': filterValue.filter === filterType.type }" href="#" role="button"
          :title="filterType.title" @click.prevent.stop="filterValue.filter = filterType.type"
        >
          <i :class="filterType.icon" />
        </a>
      </template>
      <a
        class="btn btn-outline-secondary ms-1" :class="{ 'bg-secondary': !filterValue.negative }" href="#" role="button"
        title="Filter items not matching the query" @click.prevent.stop="filterValue.negative = false"
      >
        <i class="bi bi-check-lg" />
      </a>
      <a
        class="btn btn-outline-secondary ms-1" :class="{ 'bg-secondary': filterValue.negative }" href="#" role="button"
        title="Filter items matching the query" @click.prevent.stop="filterValue.negative = true"
      >
        <i class="bi bi-ban" />
      </a>
    </div>
    <label :for="searchable.key + 'Input'" class="filter-item-title"><strong>{{ searchable.key }}</strong></label>
    <template v-if="searchable?.type === 'date'">
      <span v-if="filterValue.filter === 'between'">
        <label :for="searchable.key + 'InputMin'" class="filter-item-title">From:</label>
        <input
          :id="searchable.key + 'InputMin'" :value="filterValue.value.min ? valueFormat(filterValue.value.min) : ''" class="form-control" :class="{ 'bg-danger-subtle': errorMinMax }"
          type="datetime-local" @input="updateValue($event.target.value, 'min')"
        />
        <label :for="searchable.key + 'InputMax'" class="filter-item-title">To:</label>
        <input
          :id="searchable.key + 'InputMax'" :value="filterValue.value.max ? valueFormat(filterValue.value.max) : ''" class="form-control" :class="{ 'bg-danger-subtle': errorMinMax }"
          type="datetime-local" @input="updateValue($event.target.value, 'max')"
        />
        <div v-if="errorMinMax" class="text-danger mt-1">Minimum cannot be larger them maximum</div>
      </span>
      <input
        v-else :id="searchable.key + 'Input'" :value="filterValue.value ? valueFormat(filterValue.value) : ''" class="form-control"
        type="datetime-local" @input="updateValue($event.target.value)"
      />
    </template>
    <template v-else>
      <span v-if="filterValue.filter === 'between' && typeof filterValue.value?.min !== 'undefined'" class="numberBetweenWrapper">
        <label :for="searchable.key + 'InputMin'" class="filter-item-title">From:</label>
        <input
          :id="searchable.key + 'InputMin'" v-model="filterValue.value.min" class="form-control" type="number"
          :class="{ 'bg-danger-subtle': errorMinMax }"
        />
        <label :for="searchable.key + 'InputMax'" class="filter-item-title">To:</label>
        <input
          :id="searchable.key + 'InputMax'" v-model="filterValue.value.max" class="form-control" type="number"
          :class="{ 'bg-danger-subtle': errorMinMax }"
        />
        <div v-if="errorMinMax" class="text-danger mt-1">Minimum cannot be larger them maximum</div>
      </span>
      <input
        v-else :id="searchable.key + 'Input'" v-model="filterValue.value" class="form-control"
        type="number"
      />
    </template>
  </div>
</template>

<script>
import DateFormatFunctions from '../mixins/DateFormatFunctions.vue'

export default {
  mixins: [DateFormatFunctions],
  props: {
    modelValue: { type: Object, default: null },
    searchable: { type: Object, required: true }
  },
  emits: ['update:model-value'],
  data () {
    return {
      filterValue: this.modelValue ? this.modelValue : { type: 'number', value: null, filter: 'equals', negative: false },
      filterTypes: [
        { type: 'equals', title: 'Match value exactly', icon: 'icon-equals' },
        { type: 'less', title: 'Filter values that are less then', icon: 'icon-less' },
        { type: 'between', title: 'Filter values between', icon: 'icon-between' },
        { type: 'greater', title: 'Filter values that are more then', icon: 'icon-more' }
      ],
      inputTimeout: null,
      errorMinMax: false
    }
  },
  watch: {
    modelValue: {
      deep: true,
      handler: function () {
        this.filterValue = this.modelValue
      }
    },
    filterValue: {
      deep: true,
      handler: function () {
        this.$emit('update:model-value', this.filterValue)
        this.errorMinMax = this.filterValue.filter === 'between' && this.filterValue.value?.min > this.filterValue.value?.max
      }
    },
    'filterValue.filter' (newVal, oldVal) {
      if (newVal !== oldVal) {
        if (newVal === 'between') {
          if (!this.filterValue.value || typeof this.filterValue.value !== 'object') {
            this.filterValue.value = { min: this.filterValue.value ? this.filterValue.value : null, max: null }
          }
        } else if (oldVal === 'between') {
          this.filterValue.value = this.filterValue.value?.min ? this.filterValue.value.min : null
        }
      }
    }
  },
  methods: {
    valueFormat (value) {
      return this.dateToLocalString(new Date(value))
    },
    updateValue (value, type) {
      clearTimeout(this.inputTimeout)
      this.inputTimeout = setTimeout(() => {
        const timestamp = new Date(value).getTime()
        if (type === 'min') {
          this.filterValue.value.min = timestamp
        } else if (type === 'max') {
          this.filterValue.value.max = timestamp
        } else {
          this.filterValue.value = timestamp
        }
      }, 500)
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
