<template>
  <div
    key="save-button" class="floating-save-button" :class="{ 'editor-has-changed': unsavedChanges }" @mouseover="saveButtonHovered = true"
    @mouseout="saveButtonHovered = false"
  >
    <span
      v-show="!saving" class="save-button bg-primary" :data-title="saveButtonHovered ? 'Save changes' : null"
      @click.prevent="$emit('save')"
    >
      <i class="bi bi-save" />
    </span>
    <span v-show="saving" class="save-spinner bg-primary">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </span>
  </div>
</template>

<script>

export default {
  props: {
    saving: { type: Boolean, required: true },
    unsavedChanges: { type: Boolean, required: true },
    buttonsAdditional: { type: Array, default: () => [] }
  },
  emits: ['saveAndStay', 'save'],
  data () {
    return {
      saveButtonHovered: false
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
