<template>
  <div ref="fileForm" class="editor-container d-flex" :class="{ 'dragIsOver': dragIsOver, 'showDroppable': showDroppable }">
    <div class="filterList">
      <ul>
        <li v-for="filter in filtersActive" :key="filter._id" :class="{'selected-config': filterCurrent?._id === filter._id}" @click="$emit('filter-set', filter)">
          <div v-show="!filter.edit">
            {{ filter.key }}
            <div class="actions">
              <a class="btn btn-outline-primary btn-sm" role="button" title="Rename the Filter" @click.prevent.stop="filterEdit(filter)"><i class="bi bi-input-cursor" /></a>
              <a class="btn btn-outline-primary btn-sm" role="button" title="Export the Filter" @click.prevent.stop="filterExport(filter)"><i class="bi bi-file-earmark-arrow-down" /></a>
              <a class="btn btn-outline-primary btn-sm" role="button" title="Clone the Filter" @click.prevent.stop="filterDuplicate(filter)"><i class="bi bi-copy" /></a>
              <a
                v-if="filter.favourite" class="btn btn-outline-primary btn-sm" role="button" title="Unset as favourite"
                @click.prevent.stop="filterFavouriteSet(filter, 0)"
              ><i class="bi bi-star-fill" /></a>
              <a
                v-else class="btn btn-outline-primary btn-sm" role="button" title="Set as favourite"
                @click.prevent.stop="filterFavouriteSet(filter, 1)"
              ><i class="bi bi-star" /></a>
              <a class="btn btn-outline-danger btn-sm" role="button" title="Remove filter" @click.prevent.stop="filterRemove(filter)"><i class="bi bi-trash3" /></a>
            </div>
          </div>
          <input
            v-show="filter.edit" :id="filter.key + 'FilterNameInput'" :ref="'filterName_' + filter.key" type="text"
            :value="filter.key" class="form-control" @blur="filter.edit = false" @keyup.enter="filter.edit = false"
          />
        </li>
      </ul>
      <filter-save class="filterSave mt-3" :filter-current="filterCurrent" :filter-items="modelValue" @update:filters="filtersUpdate" />
      <template v-if="logsReloadRequired">
        <div class="logs-reload-message mt-2">
          Only logs for filter were loaded. Reload logs to see all logs.
        </div>
        <a :href="logsUrl" class="btn btn-primary">Reload Logs</a>
      </template>
    </div>

    <div class="filter">
      <ul v-if="searchables !== null">
        <li v-for="searchable in searchables" :key="searchable.key" class="hover-parent">
          <filter-item-number v-if="fieldsTypes[searchable.key] && ['int', 'double'].includes(fieldsTypes[searchable.key])" v-model="value[searchable.key]" :searchable="searchable" />
          <filter-item-array v-else-if="fieldsTypes[searchable.key] && fieldsTypes[searchable.key] === 'array'" v-model="value[searchable.key]" :searchable="searchable" />
          <filter-item-string v-else v-model="value[searchable.key]" :searchable="searchable" />
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
import FilterItemString from './FilterItemString.vue'
import FilterItemNumber from './FilterItemNumber.vue'
import FilterItemArray from './FilterItemArray.vue'
import FilterSave from './FilterSave.vue'
import DroppableRegion from '../mixins/DroppableRegion.vue'

export default {
  components: {
    FilterItemString,
    FilterItemNumber,
    FilterItemArray,
    FilterSave
  },
  mixins: [DroppableRegion],
  props: {
    modelValue: { type: Object, required: true },
    searchables: { type: Object, required: true },
    filterCurrent: { type: Object, default: null }
  },
  emits: ['update:model-value', 'filter-set'],
  data () {
    return {
      projectHandle: window.projectHandle,
      filters: [],
      dropdownMaxItems: 50,
      value: this.modelValue,
      filterModified: false,
      fieldsTypes: window.fieldsTypes ? window.fieldsTypes : {}
    }
  },
  computed: {
    filtersActive () {
      return this.filters.filter(filter => filter.active === 1)
    },
    logsUrl () {
      return this.correctUrl + 'projects/' + window.projectId + '/logs'
    },
    logsReloadRequired () {
      if (!window.logsFilterId) {
        return false
      }
      return this.filterModified
    }
  },
  watch: {
    modelValue: {
      deep: true,
      handler: function () {
        this.value = this.modelValue
        this.filterModified = true
      }
    },
    value: {
      deep: true,
      handler: function () {
        this.$emit('update:model-value', this.value)
        this.filterModified = true
      }
    }
  },
  created () {
    if (window.parserSettings.filters && window.parserSettings.filters.length > 0) {
      this.filters = window.parserSettings.filters.map(this.filterInit)
    }
    if (window.logsFilterId) {
      this.$nextTick(() => {
        const filter = this.filters.find(filter => filter._id === window.logsFilterId)
        this.$emit('filter-set', filter)
      })
    }
  },
  methods: {
    showDropdown (item) {
      return item.items.length <= this.dropdownMaxItems && item.key !== 'message' && (typeof item.forceInput === 'undefined' || item.forceInput === 'select')
    },
    filtersUpdate (filterData) {
      const currentIndex = this.filters.findIndex(filter => filter._id === filterData._id)
      if (currentIndex !== -1) {
        this.filters.splice(currentIndex, 1, this.filterInit(filterData))
      } else {
        this.filters.push(this.filterInit(filterData))
      }
      this.$emit('filter-set', filterData)
    },
    filterInit (filter) {
      filter.edit = false
      return filter
    },
    filterEdit (filter) {
      filter.edit = true
      this.$nextTick(() => {
        this.$refs['filterName_' + filter.key][0].focus()
      })
    },
    filterExport (filter) {
      const url = window.URL.createObjectURL(new Blob([JSON.stringify(filter, null, 2)], { type: 'application/json' }))
      const anchor = document.createElement('a')
      anchor.href = url
      anchor.download = filter.key.replace(/[^a-zA-Z0-9]+/g, '-') + '.filter.json'
      anchor.click()
      window.URL.revokeObjectURL(url)
    },
    filterDuplicate (filter) {
      const filterData = { project_handle: this.projectHandle, handle: 'filters', key: filter.key + ' clone', settings: filter.settings }
      window.asyncRequest('api/parser/new/save', filterData)
        .then(response => {
          if (response) {
            window.messageShow('Successful cloned filter', 'success')
            filterData._id = response.id
            this.filtersUpdate(filterData)
          }
        })
    },
    filterFavouriteSet (filter, favourite) {
      filter.favourite = favourite
      window.asyncRequest('api/parser/' + filter._id + '/save', filter)
        .then(response => {
          if (response) {
            window.messageShow('Successful ' + (favourite === 0 ? 'un' : '') + 'set favourite', 'success')
          }
        })
    },
    filterRemove (filter) {
      if (!confirm('Are you sure you want to remove ' + window.escapeHtml(filter.key) + '?')) {
        return
      }
      if (filter._id === this.filterCurrent?._id) {
        this.$emit('filter-set', null)
      }
      filter.active = 0
      window.asyncRequest('api/parser/' + filter._id + '/save', filter)
        .then(response => {
          if (response) {
            window.messageShow('Successful removed filter', 'success')
          }
        })
    },
    filesDropped (e) {
      for (let i = 0; i < e.dataTransfer.files.length; i++) {
        const reader = new FileReader()
        reader.addEventListener('load', (e) => {
          try {
            const data = JSON.parse(reader.result)
            const objectKeys = Object.keys(data)
            if (!['handle', 'key', 'settings'].every(key => objectKeys.includes(key) && !!data[key]) || data.handle !== 'filters') {
              window.messageShow('Supplied JSON is not valid Filter object', 'error')
              return
            }

            let filterName = data.key
            if (this.filters.filter(item => item.key === filterName).length > 0) {
              filterName += ' clone'
            }

            const filterData = { project_handle: this.projectHandle, handle: 'filters', key: filterName, settings: data.settings, active: 1, favourite: 0 }
            window.asyncRequest('api/parser/new/save', filterData)
              .then(response => {
                if (response) {
                  window.messageShow('Successful saved filter', 'success')
                  filterData._id = response.id
                  this.filters.push(this.filterInit(filterData))
                }
              })
          } catch (error) {
            window.messageShow('Supplied JSON is not valid Filter object', 'error')
          }
        })
        reader.readAsText(e.dataTransfer.files[i])
      }
    }
  }
}
</script>
<style lang="scss" scoped>
html[data-bs-theme="dark"] {
  div.editor-container div.filterList ul li {
    &.selected-config > div {
      background-color: #152e49;
    }
    &:not(.selected-config):hover > div {
      cursor: pointer;
      background-color: #ffffff0d;
    }
  }
}
div.editor-container {
  transition: background-color .3s;
  &.showDroppable {
    background-color: var(--bs-info-bg-subtle);
  }
  &.dragIsOver {
    background-color: var(--bs-primary-bg-subtle);
  }
  div.filterList {
    min-width: 250px;
    ul {
      margin: 0px;
      padding: 0px;
      list-style-type: none;
      li {
        > div {
          padding: 5px 10px;
          margin-right: 10px;
        }
        div {
          display: block;
        }
        .actions a + a {
          margin-left: 5px
        }
        &.selected-config > div {
          background-color: #edf6ff;
        }
        &:not(.selected-config):hover > div {
          cursor: pointer;
          background-color: #edf6ff;
        }
      }
    }
  }
  .logs-reload-message {
    max-width: 200px
  }
}
</style>
