<template>
  <li :class="{'group': true, 'expanded': showContents, 'has-related-items': hasRelatedItems, 'has-related-items-all': hasAllRelatedItems, 'group-marked': groupIsMarked, 'to-be-deleted': groupMarkForDeletion, 'has-to-be-deleted': !groupMarkForDeletion && itemsMarkForDeletion.length > 0 }">
    <ul class="heading" @click="showContents = !showContents">
      <li :title="'Errors percentage: ' + errorsPercentage + '%'">
        <span v-if="itemsMarkForDeletion.length > 0" class="help" :title="(items.length - itemsMarkForDeletion.length) + ' items not marked for deletion'">
          {{ items.length - itemsMarkForDeletion.length }} |
        </span>
        {{ items.length }}
      </li>
      <li v-for="key in myConfig" :key="key.key" :title="showKeyTitle(details.searchables[key.key], key.key)">
        {{ showKey(details.searchables[key.key], key.key) }}
      </li>
      <li v-if="datesMinMax.length" class="chartTimesOverview" title="Date Chart">
        <chart-time-overview
          v-for="dates in datesMinMax" :key="'chart' + dates.key" :height="19" :width="50"
          class="chartTimeOverview" :dates="items.map(item => typeof item[dates.key] !== 'undefined' ? new Date(item[dates.key]) : new Date())" :min-x="dates.min" :max-x="dates.max"
        />
      </li>
      <li class="mark-group">
        <a
          v-if="['maintainer', 'admin', 'superuser'].includes(userPermissions)" href="#" class="btn btn-sm btn-outline-primary buttonTagCreate" title="Create tag to ignore logs like this"
          @click.stop.prevent="$emit('tagCreate')"
        >
          <i class="bi bi-tag" />
        </a>
        <i v-if="groupMarkForDeletion" class="bi bi-trash3" title="This group is marked for deletion" />
        <a
          v-else href="#" class="btn btn-sm btn-outline-primary" title="Mark Group"
          @click.stop.prevent="$emit('mark-group')"
        >
          <i class="bi bi-check" />
        </a>
      </li>
    </ul>
    <slide-up-down>
      <transition>
        <ol v-show="showContents" class="subitems">
          <log-item
            v-for="item in itemsCut" :key="item.__key__" :item="item" :config="config"
            :related-current="relatedCurrent" :parser-keys-types="parserKeysTypes" @toggle-related="toggleRelated"
          />
          <li v-if="groupLimit < items.length" class="more" @click="groupLimit += groupLimit">
            ...
          </li>
        </ol>
      </transition>
    </slide-up-down>
  </li>
</template>
<script>
import LogItem from './LogItem.vue'
import ChartTimeOverview from './ChartTimeOverview.vue'
import DateFormatFunctions from '../mixins/DateFormatFunctions.vue'
import HumanFileSize from '../mixins/HumanFileSize.vue'
import SlideUpDown from './SlideUpDown.vue'

export default {
  components: {
    LogItem,
    ChartTimeOverview,
    SlideUpDown
  },
  mixins: [DateFormatFunctions, HumanFileSize],
  props: {
    config: { type: Object, required: true },
    items: { type: Array, required: true },
    details: { type: Object, required: true },
    groupingKey: { type: Object, required: true },
    searchables: { type: Array, required: true },
    groupsMarked: { type: Array, default: () => [] },
    datesMinMax: { type: Array, default: () => [] },
    errorCount: { type: Number, required: true },
    relatedCurrent: { type: Array, default: () => [] },
    relatedCurrentKeys: { type: Array, default: () => [] },
    parserKeysTypes: { type: Object, default: () => {} }
  },
  emits: ['mark-group', 'tagCreate', 'toggleRelated'],
  data () {
    return {
      limitIncrease: 10,
      groupLimit: 10,
      sortingKey: this.searchables.filter((item) => {
        return item.type === 'date'
      }),
      showContents: false,
      userPermissions: window.userPermissions
    }
  },
  computed: {
    itemsCut () {
      return [...this.items].sort(this.sorting).slice(0, this.groupLimit)
    },
    errorsPercentage () {
      const pow = this.items.length / this.errorCount > 0.01 ? 1 : 100
      return Math.round(this.items.length / this.errorCount * 100 * pow) / pow
    },
    myConfig () {
      return this.config['group-keys']
    },
    name () {
      if (typeof this.details.searchables[this.groupingKey.key] === 'undefined') {
        return this.fallbackName(this.details.searchables)
      }
      return this.details.searchables[this.groupingKey.key][0]
    },
    hasRelatedItems () {
      if (!this.relatedCurrent) {
        return false
      }
      const keys = this.relatedCurrent.map((related) => related.__key__)
      return this.items.filter((item) => {
        return keys.indexOf(item.__key__) !== -1
      }).length > 0
    },
    hasAllRelatedItems () {
      if (!this.relatedCurrent) {
        return false
      }
      const keys = this.relatedCurrent.map((related) => related.__key__)
      return this.items.filter((item) => {
        return keys.indexOf(item.__key__) === -1
      }).length === 0
    },
    groupIsMarked () {
      if (this.groupsMarked.length === 0) {
        return false
      }

      for (const groupMarked of this.groupsMarked) {
        const isGroupMarked = Object.keys(groupMarked).every(groupKey => {
          if (typeof this.details.searchables[groupKey] === 'undefined') {
            return false
          }

          const itemKeys = Object.keys(this.details.searchables[groupKey])
          return typeof this.details.searchables[groupKey] !== 'undefined' && groupMarked[groupKey].some(key => itemKeys.includes(key))
        })
        if (isGroupMarked) {
          return true
        }
      }
      return false
    },
    groupMarkForDeletion () {
      return this.items.every(item => !!item.to_be_deleted)
    },
    itemsMarkForDeletion () {
      return this.items.filter(item => !!item.to_be_deleted)
    }
  },
  methods: {
    toggleRelated (related) {
      this.$emit('toggleRelated', related)
    },
    sorting (a, b) {
      const ao = this.relatedCurrent && this.relatedCurrent.filter(rel => rel.__key__ === a.__key__).length
      const bo = this.relatedCurrent && this.relatedCurrent.filter(rel => rel.__key__ === b.__key__).length
      if (ao !== bo) {
        return bo - ao
      } else if (ao === 1) {
        // now try to compare the error count, if it exist
        const countKeys = this.relatedCurrentKeys.filter((item) => item.type === 'request_error_number')
        if (countKeys.length === 1) {
          return a[countKeys[0].key] - b[countKeys[0].key]
        }
      }
      for (const i in this.sortingKey) {
        if (a[this.sortingKey[i].key] !== b[this.sortingKey[i].key]) {
          if (typeof a[this.sortingKey[i].key] === 'string') {
            return b[this.sortingKey[i].key].localeCompare(a[this.sortingKey[i].key])
          } else if (typeof a[this.sortingKey[i].key] === 'number') {
            return b[this.sortingKey[i].key] - a[this.sortingKey[i].key]
          } else if (typeof a[this.sortingKey[i].key] !== 'undefined' && a[this.sortingKey[i].key].compare) {
            return b[this.sortingKey[i].key].compare(a[this.sortingKey[i].key])
          } else {
            return b[this.sortingKey[i].key] > a[this.sortingKey[i].key]
          }
        }
      }
      return a.__key__ - b.__key__
    },
    fallbackName (searchables) {
      return searchables[Object.keys(searchables)[0]][0]
    },
    showKey (items, key) {
      let itemsToShow = items ? Object.keys(items).map((_item) => {
        return [_item, this.items.map((item) => item[key]).filter((subitem) => subitem === _item).length]
      }) : []
      itemsToShow.sort((b, a) => a[1] - b[1])
      itemsToShow = itemsToShow.map(itm => itm[0]).slice(0, 3)

      if (this.parserKeysTypes[key] && this.parserKeysTypes[key].type === 'date' && (this.parserKeysTypes[key].dateFormat || this.parserKeysTypes[key].timeFormat)) {
        itemsToShow = itemsToShow.map(item => this.datetimeFormat(item, this.parserKeysTypes[key].dateFormat, this.parserKeysTypes[key].timeFormat))
      }
      return itemsToShow.join(', ')
    },
    showKeyTitle (items, key) {
      if (items) {
        const limit = 30
        let values = Object.keys(items).map((_item) => {
          return [_item, this.items.map((item) => item[key]).filter((subitem) => subitem === _item).length]
        })
        values.sort((b, a) => a[1] - b[1])
        values = values.slice(0, limit).map(itm => itm[0] + ': ' + itm[1])

        let str = key + '\n' + values.join('\n')
        if (Object.keys(items).length > limit) {
          str += '\n...'
        }
        return str
      }
      return key.key
    }
  }
}
</script>
<style lang="scss" scoped>
html[data-bs-theme="dark"] {
  li.group {
    ul.heading {
      &:hover {
        background: #ffffff1a;
      }
    }
    ol  {
      li.more {
        &:hover {
          background: #ffffff1a;
        }
      }
      li:nth-of-type(odd) {
        background-color: #152e49;
      }
    }
  }
}
li.group {
  transition: all .3s;
  margin-bottom: 0px;
  &.expanded {
    margin-bottom: 10px;
  }
  ul.heading {
    padding: 10px 25px;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-flow: row nowrap;
    cursor: pointer;
    transition: background-color .3s;
    &:hover {
      background: #0000001a;
    }
    li {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      flex-grow: 1;
      flex-shrink: 1;
      width: 10%;
      padding: 3px 5px;
      &:first-child {
        width: 6ex;
        flex-shrink: 0;
      }
      &:nth-child(2) {
        width: 45%;
        flex-shrink: 0;
        flex-grow: 5;
      }
      &.chartTimesOverview {
        text-overflow: clip;
        flex-grow: 0;
        flex-shrink: 0;
        width: 50px;
      }
      &.mark-group {
        flex-grow: 0;
        flex-shrink: 0;
        width: auto;
        margin-left: 10px;
        opacity: 0.001;
        transition: opacity .3s;
        .bi-trash3 {
          display: inline-block;
          vertical-align: middle;
          font-size: 24px;
          width: 32px;
          cursor: help;
        }
        .buttonTagCreate {
          margin-right: 5px;
        }
      }
    }
  }
  ol {
    li.more {
      transition: background-color .3s;
      &:hover {
        background: #0000001a;
      }
    }
    li:nth-of-type(odd) {
      background-color: #edf6ff;
    }
  }
  &.has-related-items ul.heading {
    --bs-bg-opacity: .50;
    background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity));
    &:hover {
      background: #0000001a;
    }
  }
  &.has-related-items-all ul.heading {
    --bs-bg-opacity: .75;
    background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity));
    &:hover {
      background: #0000001a;
    }
  }
  &.group-marked>ul.heading {
    color: grey;
  }
  &.has-to-be-deleted, &.to-be-deleted {
    color: grey;
  }
  &.to-be-deleted {
    color: grey;
  }
  .chartTimeOverview {
    box-shadow: 0 0 2px #00000099;
    background-color: #0000001c;
  }
  &:hover ul.heading li.mark-group {
    opacity: 1;
  }
}
</style>
