<template>
  <li :class="{ 'has-related': hasRelated, 'is-related': isRelated, 'to-be-deleted': itemMarkForDeletion }">
    <div v-if="hasItemKeys" class="heading" :class="{'clickable': config['detail-keys'] && config['detail-keys'].length > 0}" @click="contentsShow = !contentsShow">
      <div v-if="hasRelated" class="related-link" :class="{'multiple': Object.keys(item.__parsed__.related).length > 1}">
        <a
          class="btn btn-sm btn-outline-primary" href="#"
          title="Toggle related items" @click.prevent.stop="$emit('toggleRelated', item.__parsed__.related)"
        >
          <i class="bi bi-share" />
        </a>
      </div>
      <div v-for="key in config['item-keys']" :key="'itemKeys_' + (key.key)" :title="key.key + '\n' + item[key.key]">
        {{ valueFormat(item[key.key], key.key) }}
      </div>
      <i v-if="itemMarkForDeletion" class="bi bi-trash3" title="This item is marked for deletion" />
    </div>
    <slide-up-down>
      <div v-show="contentsShow || !hasItemKeys">
        <div v-for="key in logKeys" :key="'logKeys_' + (key.key)" class="detail-contents">
          {{ key.key }}: {{ valueFormat(item[key.key], key.key) }}
        </div>
      </div>
    </slide-up-down>
  </li>
</template>
<script>
import SlideUpDown from './SlideUpDown.vue'
import DateFormatFunctions from '../mixins/DateFormatFunctions.vue'

export default {
  components: {
    SlideUpDown
  },
  mixins: [DateFormatFunctions],
  props: {
    config: { type: Object, required: true },
    item: { type: Object, required: true },
    relatedCurrent: { type: Array, default: () => [] },
    parserKeysTypes: { type: Object, default: () => {} }
  },
  emits: ['toggleRelated'],
  data () {
    return {
      contentsShow: false
    }
  },
  computed: {
    logKeys () {
      if (!(this.config['item-keys'] && this.config['group-keys'])) {
        return []
      }
      return this.config['detail-keys'].filter((key) => {
        return typeof this.item[key.key] !== 'undefined'
      })
    },
    hasRelated () {
      return this.item.__parsed__ && this.item.__parsed__.related
    },
    isRelated () {
      return this.relatedCurrent.map((item) => item.__key__).indexOf(this.item.__key__) !== -1
    },
    itemMarkForDeletion () {
      return !!this.item.to_be_deleted
    },
    hasItemKeys () {
      return this.config['item-keys'] && this.config['item-keys'].length > 0
    }
  },
  methods: {
    valueFormat (value, key) {
      if (this.parserKeysTypes[key] && this.parserKeysTypes[key].type === 'date' && (this.parserKeysTypes[key].dateFormat || this.parserKeysTypes[key].timeFormat)) {
        return this.datetimeFormat(value, this.parserKeysTypes[key].dateFormat, this.parserKeysTypes[key].timeFormat)
      }
      return value
    }
  }
}
</script>
<style lang="scss" scoped>
html[data-bs-theme="dark"] {
  li {
    div.heading {
      &:hover {
        background: #ffffff1a;
      }
    }
    div.detail-contents {
      &:hover {
        background: #ffffff1a;
      }
    }
  }
}

li {
  div.heading {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-flow: row nowrap;
    min-height: 1.2em;
    transition: background-color .3s;
    &.clickable {
      cursor: pointer;
    }
    &:hover {
      background: #0000001a;
      .related-link {
        opacity: 1;
      }
    }
    >div {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      min-width: 8em;
      flex-shrink: 1;
      padding: 3px 5px;
      position: relative;
      &:nth-child(1) {
        flex-shrink: 0;
      }
      &.related-link {
        transition: opacity .3s;
        opacity: 0.001;
        width: 5ex;
        flex-shrink: 0;
        flex-grow: 0;
        & + * {
          flex-shrink: 0;
          flex-grow: 1;
        }
      }
      &.multiple:after {
        content: "M";
        width: 1.5em;
        height: 1.5em;
        border-radius: 0.75em;
        --bs-bg-opacity: 1;
        background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity));
        line-height: 1.5em;
        text-align: center;
        color: white;
        position: absolute;
        right: 0px;
        bottom: 0px;
        font-size: 0.6em;
      }
    }
  }
  div.detail-contents {
    white-space: pre-wrap;
    word-break: break-word;
    padding: 3px 5px;
    transition: background-color .3s;
    &:hover {
      background: #0000001a;
    }
  }
  &.is-related > div.heading {
    --bs-bg-opacity: .50;
    background-color: rgba(var(--bs-success-rgb),var(--bs-bg-opacity));
    &:hover {
      background: #0000001a;
    }
  }
  &.to-be-deleted {
    color: grey;
    .bi-trash3 {
      font-size: 24px;
      cursor: help;
    }
  }
}
</style>
