<template>
  <div ref="fileForm" :class="{'configs': true, 'dragIsOver': dragIsOver, 'showDroppable': showDroppable, 'editor-container': true}">
    <ul v-if="modelValue !== null">
      <li v-for="name in Object.keys(modelValue)" :key="name" :class="{'selected-config': selectedConfig === name}" @click="$emit('configSelectedSet', name)">
        <div v-show="showEdit !== name" class="key-wrapper">
          {{ name === 'default' ? 'Default' : name }}
          <div class="actions">
            <a
              v-if="name !== 'default'" class="btn btn-outline-primary btn-sm" role="button" title="Rename the Keys"
              @click.prevent.stop="toggleEdit(name)"
            ><i class="bi bi-input-cursor" /></a>
            <a class="btn btn-outline-primary btn-sm" role="button" title="Export the Keys" @click.prevent.stop="exportData(name)"><i class="bi bi-file-earmark-arrow-down" /></a>
            <a class="btn btn-outline-primary btn-sm" role="button" title="Copy the Keys" @click.prevent.stop="duplicate(name)"><i class="bi bi-copy" /></a>
            <a
              v-if="name !== 'default'" class="btn btn-outline-danger btn-sm" role="button" title="Delete the Keys"
              @click.prevent.stop="remove(name)"
            ><i class="bi bi-trash3" /></a>
          </div>
        </div>
        <input
          v-show="showEdit === name" :ref="'itemName_' + name" type="text" :value="name"
          class="form-control" @blur="configNameChanged(name)" @keyup.enter="configNameChanged(name)"
        />
      </li>
    </ul>
    <div v-if="currentConfig && currentConfig['group-keys']" class="settingsWrapper">
      <div class="position-relative mx-3">
        <div v-show="dragActive" class="trash-icon" :class="{ 'hovered': trashActive }">
          &nbsp;
        </div>
        <draggable
          v-show="dragActive" v-model="trashKeys" data-title="Available Keys" :group="{ name: 'config-keys', pull: false, put: true }"
          class="draggable-area-trash" item-key="key" tag="ul" @start="dragActive = true"
          @end="dragActive = false"
        >
          <template #item>
            &nbsp;
          </template>
        </draggable>
        <draggable
          :list="searchableKeys" data-title="Available Keys" :group="{ name: 'config-keys', pull: 'clone', put: true }" :class="{ 'draggable-area-hidden': dragActive }"
          :sort="false" ghost-class="ghost-config-key" drag-class="drag-config-key" item-key="key"
          handle=".draggable-element" :move="isToTrashArea" tag="ul" @start="dragActive = true"
          @end="dragActive = false"
        >
          <template #item="{ element }">
            <li>
              <div class="draggable-element">
                {{ element.key }}
              </div>
              <a
                href="#" class="btn btn-outline-primary btn-sm btn-key-settings align-content-center" role="button" title="Settings"
                @click.prevent.stop="openKeySettings(element)"
              ><i class="bi bi-gear" /></a>
              <span class="flags-container align-content-center">
                <span v-if="currentConfig['group-keys'].map(itm => itm.key).indexOf(element.key) !== -1" title="Used in Group Header">G</span>
                <span v-if="currentConfig['item-keys'].map(itm => itm.key).indexOf(element.key) !== -1" title="Used in Item Header">I</span>
                <span v-if="currentConfig['detail-keys'].map(itm => itm.key).indexOf(element.key) !== -1" title="Used in Item Details">D</span>
              </span>
            </li>
          </template>
        </draggable>
      </div>
      <div class="list-wrapper mx-3 text-center">
        <draggable
          v-model="currentConfig['group-keys']" data-title="Group keys" :group="{ name: 'config-keys', put: true }" :sort="true"
          ghost-class="ghost-config-key" drag-class="drag-config-key" :item-key="(element) => element.key" tag="ul"
          :class="{ 'bg-warning-subtle': dragActive, 'pb-2': true }" :move="isToTrashArea" @start="dragActive = true" @end="dragActive = false"
        >
          <template #item="{ element }">
            <li :class="{'invalid-key': searchableKeys.map(item => item.key).indexOf(element.key) === -1, 'compound-key': !!element.key}" class="draggable-element" @click="!!element.key ? setCurrentCompoundKey(element) : false">
              <div>{{ element.key }}</div>
            </li>
          </template>
        </draggable>
        <a href="#" class="btn btn-outline-primary btn-sm" role="button" @click.prevent.stop="newCompoundKey('group-keys')">Add Compound Key</a>
      </div>
      <div class="list-wrapper mx-3 text-center">
        <draggable
          v-model="currentConfig['item-keys']" data-title="Item keys" :group="{ name: 'config-keys', put: true }" :sort="true"
          ghost-class="ghost-config-key" drag-class="drag-config-key" :item-key="(element) => element.key" tag="ul"
          :class="{ 'bg-warning-subtle': dragActive, 'pb-2': true }" :move="isToTrashArea" @start="dragActive = true" @end="dragActive = false"
        >
          <template #item="{ element }">
            <li :class="{'invalid-key': searchableKeys.map(item => item.key).indexOf(element.key) === -1, 'compound-key': !!element.key}" class="draggable-element" @click="!!element.key ? setCurrentCompoundKey(element) : false">
              <div>{{ element.key }}</div>
            </li>
          </template>
        </draggable>
        <a href="#" class="btn btn-outline-primary btn-sm" @click.prevent.stop="newCompoundKey('item-keys')">Add Compound Key</a>
      </div>
      <div class="list-wrapper mx-3 text-center">
        <draggable
          v-model="currentConfig['detail-keys']" data-title="Detail keys" :group="{ name: 'config-keys', put: true }" :sort="true"
          ghost-class="ghost-config-key" drag-class="drag-config-key" :item-key="(element) => element.key" tag="ul"
          :class="{ 'bg-warning-subtle': dragActive, 'pb-2': true }" :move="isToTrashArea" @start="dragActive = true" @end="dragActive = false"
        >
          <template #item="{ element }">
            <li :class="{'invalid-key': searchableKeys.map(item => item.key).indexOf(element.key) === -1, 'compound-key': !!element.key}" class="draggable-element" @click="!!element.key ? setCurrentCompoundKey(element) : false">
              <div>{{ element.key }}</div>
            </li>
          </template>
        </draggable>
        <a href="#" class="btn btn-outline-primary btn-sm" @click.prevent.stop="newCompoundKey('detail-keys')">Add Compound Key</a>
      </div>
    </div>

    <div v-if="currentCompoundKey" id="modalCompoundKey" class="modal" tabindex="-1">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">
              {{ currentCompoundKey && currentCompoundKey.key ? currentCompoundKey.key : 'New compound key' }}
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" />
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-2">
                  <label for="compoundKeyName" class="col-form-label">Name</label>
                </div>
                <div class="col ms-auto">
                  <input
                    id="compoundKeyName" ref="currentCompoundKeyName" class="form-control" type="text"
                    :value="currentCompoundKey.key" @blur="currentCompoundKey.key = $event.target.value"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-2">
                  <label for="compoundKeyKeys" class="col-form-label">Keys</label>
                </div>
                <div class="col ms-auto">
                  <div v-for="(key, index) in currentCompoundKey.keys" :key="key" class="row">
                    <div class="col">
                      <select id="compoundKeyKeys" :value="key" class="form-select" @change="compoundKeyChange(key, $event)">
                        <option :value="undefined">
                          -- select --
                        </option>
                        <option v-for="item in searchables" :key="item.key" :value="item.key">
                          {{ item.key }}
                        </option>
                      </select>
                    </div>
                    <div class="col-2 ms-auto">
                      <a href="#" class="btn btn-outline-danger" role="button" @click.prevent.stop="currentCompoundKey.keys.splice(index, 1)">Remove</a>
                    </div>
                  </div>
                  <select ref="addNewCompoundKey" class="form-select" @change="compoundKeyAdd">
                    <option :value="undefined">
                      -- select additional --
                    </option>
                    <option v-for="item in searchables" :key="item.key" :value="item.key">
                      {{ item.key }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col-2">
                  <label for="compoundKeyReplacements" class="col-sm-2 col-form-label">Replacements</label>
                </div>
                <div class="col ms-auto">
                  <div v-for="(item, i) in currentCompoundKey.replacements" :key="i" class="row">
                    <div class="col-4">
                      <input
                        :value="item.regexp" class="form-control" type="text" placeholder="Regular Expression"
                        title="Regular Expression" @blur="item.regexp = $event.target.value"
                      />
                    </div>
                    <div class="col-4">
                      <input
                        :value="item.regexpTo" class="form-control" type="text" placeholder="Replace To (eg. $1)"
                        title="Replace To (eg. $1)" @blur="item.regexpTo = $event.target.value"
                      />
                    </div>
                    <div class="col">
                      <input
                        :value="item.regexpFlags" class="form-control" type="text" placeholder="Flags"
                        title="Flags" @blur="item.regexpFlags = $event.target.value"
                      />
                    </div>
                    <div class="col-2">
                      <a href="#" class="btn btn-outline-danger" role="button" @click.prevent.stop="currentCompoundKey.replacements.splice(i, 1)">Remove</a>
                    </div>
                  </div>
                  <a href="#" class="btn btn-outline-secondary" role="button" @click.prevent.stop="pushReplacement()">Add</a>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <div v-if="currentKey" id="modalKey" class="modal" tabindex="-1">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">
              {{ currentKey.key }}
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" />
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-2">
                  <label for="keyFilterType" class="col-form-label">Filter Type</label>
                </div>
                <div class="col ms-auto">
                  <select id="keyFilterType" v-model="currentKey.forceInput" class="form-select">
                    <option :value="undefined">
                      Default
                    </option>
                    <option value="input">
                      Input
                    </option>
                    <option value="select">
                      Dropdown
                    </option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-2">
                  <label for="keyType" class="col-form-label">Field type</label>
                </div>
                <div class="col ms-auto">
                  <select id="keyType" v-model="currentKey.type" class="form-select">
                    <option :value="undefined">
                      Default
                    </option>
                    <option value="date">
                      Date
                    </option>
                    <option value="request_identifier">
                      Request Identifier
                    </option>
                    <option value="request_error_number">
                      Request Error Number
                    </option>
                    <option value="version">
                      Version
                    </option>
                  </select>
                </div>
              </div>

              <div v-if="currentKey.type === 'request_error_number'" class="row">
                <div class="col-2">
                  <label for="keyIdentifierKey" class="col-form-label">The identifier for this field</label>
                </div>
                <div class="col ms-auto">
                  <select id="keyIdentifierKey" v-model="currentKey.identifierKey" class="form-select">
                    <option :value="undefined">
                      -- select --
                    </option>
                    <option v-for="item in searchables.filter((item) => item.type === 'request_identifier')" :key="item.key">
                      {{ item.key }}
                    </option>
                  </select>
                </div>
              </div>

              <div v-if="currentKey.type === 'date'" class="row">
                <div class="col-2">
                  Display Chart
                </div>
                <div class="col ms-auto">
                  <label><input
                    id="yes" v-model="currentKey.displayChart" type="radio" :value="1"
                    class="form-check-input"
                  >Yes</label>
                  <label><input
                    id="no" v-model="currentKey.displayChart" type="radio" :value="0"
                    class="form-check-input"
                  >No</label>
                </div>
              </div>

              <div v-if="currentKey.type === 'date'" class="row">
                <div class="col-2">
                  <label for="keyDateFormat" class="col-form-label">Date Format</label>
                </div>
                <div class="col ms-auto">
                  <select id="keyDateFormat" v-model="currentKey.dateFormat" class="form-select">
                    <option :value="undefined">
                      Auto
                    </option>
                    <option v-for="dateFormat in dateFormats" :key="dateFormat" :value="dateFormat">
                      {{ dateFormat }}
                    </option>
                  </select>
                </div>
                <div class="col-2">
                  <label for="keyDateFormat" class="col-form-label">Time Format</label>
                </div>
                <div class="col ms-auto">
                  <select id="keyDateFormat" v-model="currentKey.timeFormat" class="form-select">
                    <option :value="undefined">
                      None
                    </option>
                    <option v-for="timeFormat in timeFormats" :key="timeFormat" :value="timeFormat">
                      {{ timeFormat }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Draggable from 'vuedraggable'
import DroppableRegion from '../mixins/DroppableRegion.vue'

export default {
  components: {
    Draggable
  },
  mixins: [DroppableRegion],
  props: {
    modelValue: { type: Object, required: true },
    selectedConfig: { type: String, required: true },
    searchables: { type: Object, required: true }
  },
  emits: ['configSelectedSet', 'update:model-value', 'update:searchables'],
  data () {
    return {
      projectHandle: window.projectHandle,
      showEdit: null,
      currentKey: null,
      currentCompoundKey: null,
      value: this.modelValue,
      dragActive: false,
      trashKeys: [],
      trashActive: false,
      dateFormats: ['Y-m-d', 'd/m/Y', 'd.m.Y'],
      timeFormats: ['H:i', 'H:i:s']
    }
  },
  computed: {
    currentConfig () {
      return typeof this.value[this.selectedConfig] === 'undefined' ? {} : this.value[this.selectedConfig]
    },
    searchableKeys () {
      const arr = this.searchables
      arr.sort((a, b) => ('' + a.key).localeCompare(b.key))
      return arr
    }
  },
  methods: {
    setCurrentCompoundKey (key) {
      if (!key.replacements) {
        key.replacements = []
      }
      this.currentCompoundKey = key
      this.$nextTick(() => {
        window.bootstrap.Modal.getOrCreateInstance('#modalCompoundKey').show()
      })
    },
    pushReplacement () {
      this.currentCompoundKey.replacements.push({
        regexp: '',
        regexpTo: '',
        regexpFlags: ''
      })
    },
    filesDropped (e) {
      for (let i = 0; i < e.dataTransfer.files.length; i++) {
        const reader = new FileReader()
        let newName = e.dataTransfer.files[i].name.replace(/\.json$/, '').replace(/\.keys$/, '').replace(/-/g, ' ')
        reader.addEventListener('load', (e) => {
          try {
            const data = JSON.parse(reader.result)
            const objectKeys = Object.keys(data)
            if (!['group-keys', 'item-keys', 'detail-keys'].every(key => objectKeys.includes(key))) {
              window.messageShow('Supplied JSON is not valid Keys object', 'error')
              return
            }

            if (this.value[newName]) {
              newName += ' clone'
            }

            this.value[newName] = {
              'group-keys': data['group-keys'],
              'item-keys': data['item-keys'],
              'detail-keys': data['detail-keys']
            }
            this.$emit('update:model-value', this.value)
          } catch (error) {
            window.messageShow('Supplied JSON is not valid Keys object', 'error')
          }
        })
        reader.readAsText(e.dataTransfer.files[i])
      }
    },
    exportData (name) {
      const obj = Object.assign({}, this.value[name])
      delete obj.items
      const url = window.URL.createObjectURL(new Blob([JSON.stringify(obj, null, 2)], { type: 'application/json' }))
      const anchor = document.createElement('a')
      anchor.href = url
      anchor.download = name.replace(/[^a-zA-Z0-9]+/g, '-') + '.keys.json'
      anchor.click()
      window.URL.revokeObjectURL(url)
    },
    newCompoundKey (key) {
      this.currentCompoundKey = {
        key: 'key',
        keys: [],
        replacements: []
      }
      this.value[this.selectedConfig][key].push(this.currentCompoundKey)
      this.$emit('update:model-value', this.value)
      this.$emit('update:searchables', this.currentCompoundKey)
      this.$nextTick(() => {
        window.bootstrap.Modal.getOrCreateInstance('#modalCompoundKey').show()
      })
    },
    compoundKeyChange (key, e) {
      this.currentCompoundKey.keys[this.currentCompoundKey.keys.indexOf(key)] = e.target.value
    },
    compoundKeyAdd (newVal) {
      this.currentCompoundKey.keys.push(this.$refs.addNewCompoundKey.value)
      this.$refs.addNewCompoundKey.value = undefined
    },
    openKeySettings (name) {
      this.currentKey = name
      this.$nextTick(() => {
        window.bootstrap.Modal.getOrCreateInstance('#modalKey').show()
      })
    },
    toggleEdit (name) {
      this.showEdit = name
      this.$nextTick(() => {
        this.$refs['itemName_' + name][0].focus()
      })
    },
    remove (name) {
      if (!confirm('Are you sure you want to delete ' + window.escapeHtml(name) + '?')) {
        return
      }

      if (name === this.selectedConfig) {
        this.$emit('configSelectedSet', 'default')
      }

      if (this.value[name]._id) {
        window.asyncRequest('api/parser/' + this.value[name]._id + '/save', { project_handle: this.projectHandle, handle: 'parserKeys', key: name, settings: this.value[name], active: 0 })
          .then(response => {
            if (response) {
              delete this.value[name]
              this.$emit('update:model-value', this.value)
              window.messageShow('Successful removed Keys', 'success')
            }
            return response
          })
      } else {
        delete this.value[name]
        this.$emit('update:model-value', this.value)
        window.messageShow('Successful removed Keys', 'success')
      }
    },
    duplicate (oldName) {
      const newName = oldName + ' clone'
      this.value[newName] = JSON.parse(JSON.stringify(this.value[oldName]))
      delete this.value[newName]._id
      this.$emit('configSelectedSet', newName)
      this.$emit('update:model-value', this.value)
    },
    configNameChanged (oldName) {
      if (!this.$refs['itemName_' + oldName][0]) {
        return
      }
      const newName = this.$refs['itemName_' + oldName][0].value
      this.showEdit = null
      if (oldName === newName || !this.value[oldName]) {
        return
      }
      this.value[newName] = this.value[oldName]
      delete this.value[oldName]
      if (this.selectedConfig === oldName) {
        this.$emit('configSelectedSet', newName)
      }
      this.$emit('update:model-value', this.value)
    },
    isToTrashArea (event) {
      if (event.to.classList.contains('draggable-area-trash')) {
        this.trashActive = true
      } else {
        this.trashActive = false
      }
    }
  }
}
</script>
<style lang="scss" scoped>
html[data-bs-theme="dark"] {
  div.editor-container > ul li {
    &.selected-config > div {
      background-color: #152e49;
    }
    &:not(.selected-config):hover > div {
      background: #ffffff0d;
    }
    &.ghost-config-key {
      background: #ffffff26;
    }
    &.compound-key:hover {
      background: #ffffff0d;
    }
  }
}
a {
  cursor: pointer;
}
div.editor-container {
  transition: background-color .3s;
  display: flex;
  &.showDroppable {
    background-color: var(--bs-info-bg-subtle);
  }
  &.dragIsOver {
    background-color: var(--bs-primary-bg-subtle);
  }
  >ul {
    width: 15%;
    min-width: 150px;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    li {
      > div {
        padding: 5px 10px;
        margin-right: 10px;
      }
      div {
        display: block;
      }
      .actions a + a {
        margin-left: 5px
      }
      &.selected-config > div {
        background-color: #edf6ff;
      }
      &:not(.selected-config):hover > div {
        cursor: pointer;
        background-color: #edf6ff;
      }
    }
  }
  div.settingsWrapper {
    display: flex;
    flex-flow: row nowrap;
    ul {
      list-style-type: none;
      margin: 0px;
      padding: 0px;
      &[data-title]:before {
        display: list-item;
        margin-bottom: 10px;
        content: attr(data-title);
        font-size: 1.5em;
        font-weight: bold;
      }
      li {
        display: flex;
        flex-flow: row nowrap;
        margin-bottom: 10px;
        > div {
          padding: 5px 10px;
        }
        div {
          flex-grow: 1;
        }
        &.ghost-config-key {
          background: #00000026;
        }
        &.keyUsed {
          background: #00ff0026;
        }
        a {
          padding: 8px;
          cursor: pointer;
        }
        .flags-container {
          flex-shrink: 1;
          min-width: 55px;
          text-align: center;
        }
        &.invalid-key {
          text-decoration: line-through;
          background-color: #ff000026;
        }
        &.compound-key:hover {
          background: #0000000d;
        }
      }
      li .btn-key-settings {
        opacity: 0.001;
        transition: opacity .3s;
      }
      li:hover .btn-key-settings {
        opacity: 1;
      }
    }
    .list-wrapper ul {
      padding: 0px 20px;
    }
    .trash-icon {
      position: absolute;
      left: 0px;
      right: 0px;
      top: 0px;
      bottom: 0px;
      z-index: 5;
      &::after {
        content: '';
        display: block;
        height: 500px;
        background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path d='M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5'/></svg>");
        background-repeat: no-repeat;
        background-position: center;
      }
      &.hovered::after {
        background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path d='M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5'/></svg>");
      }
    }
    .draggable-area-trash {
      position: absolute;
      left: 0px;
      right: 0px;
      top: 0px;
      bottom: 0px;
      z-index: 6;
      height: 100%;
      li {
        display: none;
      }
    }
    .draggable-area-hidden {
      opacity: 0.001;
      transition: opacity .3s;
      z-index: 0;
    }
    .btn-key-settings {
      margin-left: 5px
    }
    .drag-config-key, .ghost-config-key {
      max-width: 150px;
      height: 36px;
      a, .flags-container {
        display: none;
      }
    }
    .draggable-element {
      cursor: move;
      height: 34px;
      min-width: 145px;
      align-items: center;
      text-align: center;
      border-style: solid;
      border-width: 1px;
      border-radius: var(--bs-border-radius);
      border-color: rgba(var(--bs-secondary-rgb), var(--bs-border-opacity)) !important;
    }
  }
}
.row {
  margin-bottom: 10px;
}
</style>
