<template>
  <div class="root">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a href="#" class="nav-link" :class="{'active': tabActive === 'filter'}" @click.prevent.stop="tabActive = tabActive === 'filter' ? null : 'filter'">
          <i class="bi bi-search" />
          Filters
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" :class="{'active': tabActive === 'searchable'}" @click.prevent.stop="tabActive = tabActive === 'searchable' ? null : 'searchable'">
          <i class="bi bi-key-fill" />
          Keys
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" aria-disabled="true">Error Count: {{ logsDataRaw.length }}</a>
      </li>
      <li class="nav-item flex-grow-1">
        &nbsp;
      </li>
      <li v-if="['maintainer', 'admin', 'superuser'].includes(userPermissions)" class="nav-item">
        <a href="#" class="btn btn-outline-secondary me-1" title="Clean script settings" @click.prevent.stop="cleanScriptSettingsShow()"><i class="bi bi-gear buttonIcon" /></a>
      </li>
      <li v-if="groupsMarked.length > 0" class="nav-item">
        <a href="#" class="btn btn-outline-secondary me-1" @click.prevent.stop="groupsMarkedShow = !groupsMarkedShow">Toggle Items in list</a>
      </li>
      <li v-if="groupsMarked.length > 0" class="nav-item">
        <a href="#" class="btn btn-outline-primary me-1" @click.prevent.stop="groupsMarkedLightboxShow()">Resolve marked items</a>
      </li>
    </ul>
    <div v-if="tabActive !== null" class="configurations">
      <log-filter
        v-if="tabActive === 'filter'" v-model="filterItems" :searchables="searchables" :filter-current="filterCurrent"
        @filter-set="filterSet"
      />
      <log-keys
        v-if="tabActive === 'searchable'" v-model="parserKeys" :selected-config="configSelected" :searchables="searchables"
        @config-selected-set="configSelectedSet" @update:searchables="(value) => searchables.push(value)"
      />
    </div>

    <ul v-if="logs.length > 0" class="log-items" :class="{ 'disable-transitions': !pageInitialized }">
      <transition-group name="list">
        <log-group
          v-for="log in logs" :key="log.grouping" :items="log.items" :details="log.details"
          :grouping-key="groupingKey" :config="configCurrent" :groups-marked="groupsMarked" :related-current="relatedCurrent"
          :searchables="searchables" :dates-min-max="datesMinMax" :error-count="logsDataRaw.length" :related-current-keys="relatedCurrentKeys"
          :parser-keys-types="parserKeysTypes" @toggle-related="toggleRelated" @mark-group="markGroup(log)" @tag-create="tagIgnoreCreateLightboxShow(log)"
        />
      </transition-group>
    </ul>
    <div v-else class="text-center fs-4 mt-5">
      There are no logs in this Collection.
    </div>

    <div v-if="logsLimit" class="text-center mb-2">
      <a href="#" class="btn btn-outline-primary" @click.prevent.stop="logsLoad()">
        Load more
      </a>
    </div>

    <div
      v-if="['maintainer', 'admin', 'superuser'].includes(userPermissions)" id="modalCleanScriptSettings" class="modal" tabindex="-1"
      data-bs-backdrop="static"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">
              Clean string settings
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" />
          </div>
          <div class="modal-body">
            <div class="mb-3 row">
              <label for="clearScriptUrl" class="col-sm-2 col-form-label">Script Path</label>
              <div class="col-sm-10">
                <input id="clearScriptUrl" v-model="options.clearScriptUrl" class="form-control" :placeholder="clearScriptUrlDefault" />
              </div>
            </div>
            <div class="mb-3 row">
              <label for="clearScriptGlue" class="col-sm-2 col-form-label">Glue</label>
              <div class="col-sm-10">
                <input id="clearScriptGlue" v-model="options.clearScriptGlue" class="form-control" placeholder="&" />
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
              Close
            </button>
            <button type="button" class="btn btn-outline-primary" aria-label="Save" @click="cleanStringSettingsSave()">
              Save
              <div v-show="cleanStringSettingsSaving" class="spinner-border spinner-border-sm" role="status">
                <span class="visually-hidden">Saving...</span>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div id="modalGroupsMarked" class="modal" tabindex="-1" data-bs-backdrop="static">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">
              Marked logs
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" />
          </div>
          <div class="modal-body">
            <code v-if="groupsMarked.length > 0" class="container-fluid">
              <ul class="list-group list-group-flush">
                <li v-for="(clearUrl, index) in clearUrls" :key="index" class="list-group-item">
                  {{ clearUrl }}
                </li>
              </ul>
            </code>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" title="Close modal." data-bs-dismiss="modal">
              Close
            </button>
            <button
              type="button" class="btn btn-outline-secondary" title="Copy requests for logs deletion and clear logs." aria-label="Copy and Hide"
              @click="clearUrlsCopy(); groupsMarkedHide()"
            >
              Copy and Hide
            </button>
            <button
              v-if="['maintainer', 'admin', 'superuser'].includes(userPermissions)" type="button" class="btn btn-outline-primary" title="Clear logs and mark them for deletion."
              aria-label="Clear" @click="groupsMarkedClear()"
            >
              Clear
              <div v-show="groupsMarkedClearInProgress" class="spinner-border spinner-border-sm" role="status">
                <span class="visually-hidden">Saving...</span>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div
      v-if="['maintainer', 'admin', 'superuser'].includes(userPermissions)" id="modalGroupsIgnore" class="modal" tabindex="-1"
      data-bs-backdrop="static"
    >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">
              Tag create
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" />
          </div>
          <div class="modal-body">
            <div class="mb-3 row">
              <label for="inputName" class="col-sm-2 col-form-label">Name</label>
              <div class="col-sm-10">
                <input
                  id="inputName" v-model="tagNew.name" class="form-control" :class="{'is-invalid': tagNewErrors.name}"
                  required
                />
                <span v-if="tagNewErrors.name" class="invalid-feedback">{{ tagNewErrors.name }}</span>
              </div>
            </div>

            <div v-if="tagNew.action === 'ignore'" class="mb-3 row">
              <label for="inputDaysToIgnore" class="col-sm-2 col-form-label">Active until</label>
              <div class="col-sm-10">
                <input
                  id="inputDaysToIgnore" v-model="tagNew.active_until" type="datetime-local" class="form-control"
                  :class="{'is-invalid': tagNewErrors.active_until}"
                />
                <span v-if="tagNewErrors.active_until" class="invalid-feedback">{{ tagNewErrors.active_until }}</span>
              </div>
            </div>

            <div class="mb-3 row">
              <label for="selectAction" class="col-sm-2 col-form-label">Action</label>
              <div class="col-sm-10">
                <select v-model="tagNew.action" class="form-select">
                  <option v-for="option in tagActionOptions" :key="option.value" :value="option.value">
                    {{ option.name }}
                  </option>
                </select>
              </div>
            </div>

            <div class="row align-items-center">
              <div class="col">
                <h5>Rules</h5>
              </div>
            </div>
            <table id="tableRules" class="table">
              <thead>
                <tr>
                  <th>Field</th>
                  <th>Filter</th>
                  <th>Value</th>
                  <th v-if="Object.keys(tagNewErrors.rules).length > 0">
                    Error
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr v-if="tagNewErrors.rules.global">
                  <td class="text-danger" colspan="4">
                    {{ tagNewErrors.rules.global }}
                  </td>
                </tr>
                <tr v-for="(rule, index) in tagNew.rules" :key="index" :class="{'text-danger': tagNewErrors.rules[index]}">
                  <td>
                    <select v-model="rule.field" class="form-select" @change="rule.type = fieldsTypes[rule.field] ? fieldsTypes[rule.field] : ''">
                      <option v-for="searchable in searchables.filter(item => !keysCompound[item.key])" :key="searchable.key" :value="searchable.key">
                        {{ searchable.key }}
                      </option>
                    </select>
                  </td>
                  <td>
                    <select v-model="rule.filter" class="form-select">
                      <option v-for="option in ruleFilterOptions" :key="option.value" :value="option.value">
                        {{ option.name }}
                      </option>
                    </select>
                  </td>
                  <td><input v-model="rule.value" class="form-control" required /></td>
                  <td class="rowActions">
                    <a href="#" class="btn btn-outline-danger" title="Remove Rule" @click.prevent.stop="tagNew.rules.splice(index, 1)"><i class="bi bi-trash3 buttonIcon" /></a>
                  </td>
                  <td v-if="tagNewErrors.rules[index]">
                    {{ tagNewErrors.rules[index] }}
                  </td>
                </tr>
              </tbody>
            </table>
            <a href="#" class="btn btn-outline-primary" @click.prevent.stop="tagNew.rules.push({field: '', filter: 'equals', type: '', value: ''})">Add Rule</a>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" title="Close modal." data-bs-dismiss="modal">
              Close
            </button>
            <button
              type="button" class="btn btn-outline-success" title="Create Tag to ignore logs." aria-label="Save"
              :disabled="tagSaving" @click="tagCreate()"
            >
              Create Tag
              <div v-show="tagSaving" class="spinner-border spinner-border-sm" role="status">
                <span class="visually-hidden">Saving...</span>
              </div>
            </button>
            <button
              type="button" class="btn btn-outline-primary" title="Create Tag to ignore logs and clear all matching logs." aria-label="Save and Clear"
              :disabled="tagSaving" @click="tagCreate(true)"
            >
              Create and process Tag
              <div v-show="tagSaving" class="spinner-border spinner-border-sm" role="status">
                <span class="visually-hidden">Saving...</span>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div id="modalRelatedKey" class="modal" tabindex="-1" data-bs-backdrop="static">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">
              Select the Related key
            </h5>
            <button
              type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
              @click="relatedKey = null"
            />
          </div>
          <div class="modal-body">
            <div v-if="relatedKey" class="container-fluid">
              <ul class="select-related-items">
                <li v-for="(item, key) in relatedKey" :key="key" @click="toggleRelated([item], key); relatedKey = null">
                  {{ key }}: {{ relatedKeyCount(item) }}
                </li>
              </ul>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" @click="relatedKey = null">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <floating-save-button :saving="saving" :unsaved-changes="unsavedChanges" @save="settingsSave()" />
  </div>
</template>
<script>
import LogGroup from './LogGroup.vue'
import LogFilter from './LogFilter.vue'
import LogKeys from './LogKeys.vue'
import FloatingSaveButton from './FloatingSaveButton.vue'
import DateFormatFunctions from '../mixins/DateFormatFunctions.vue'

export default {
  components: {
    LogGroup,
    LogFilter,
    LogKeys,
    FloatingSaveButton
  },
  mixins: [DateFormatFunctions],
  data () {
    return {
      projectHandle: window.projectHandle,
      logs: [],
      logsRelated: [],
      logsDataRaw: typeof window.logsData !== 'undefined' ? this.logsDataInit(window.logsData) : [],
      groupsMarked: [],
      groupsMarkedShow: false,
      parserKeys: { default: { active: 1, 'group-keys': [], 'item-keys': [], 'detail-keys': [] } },
      parserKeysTypes: {},
      parserKeysTypesToDelete: {},
      tabActive: null,
      configCurrent: {},
      relatedCurrent: [],
      relatedCurrentKeys: [],
      configSelected: 'default',
      pageInitialized: false,
      groupingKey: { key: 'filename' },
      filterItems: {},
      filterCurrent: null,
      searchables: [],
      options: {
        clearScriptUrl: window.correctUrl + 'api/logs/clear',
        clearScriptGlue: '&'
      },
      relatedKey: null,
      groupId: 0,
      configDefaultSet: false,
      saving: false,
      cleanStringSettingsSaving: false,
      unsavedChanges: false,
      groupsMarkedClearInProgress: false,
      userPermissions: window.userPermissions,
      tagNew: {
        name: '',
        active_until: this.tagActiveUntil(),
        action: 'ignore',
        project_id: window.projectId,
        rules: []
      },
      tagNewErrors: { rules: {} },
      tagNewGroupValue: null,
      tagSaving: false,
      tagActionOptions: [
        { value: 'ignore', name: 'Ignore' }
      ],
      ruleFilterOptions: [
        { value: 'equals', name: 'Equals' },
        { value: 'not_equals', name: 'Not Equals' },
        { value: 'less', name: 'Less' },
        { value: 'greater', name: 'Greater' },
        { value: 'contains', name: 'Contains' },
        { value: 'not_contains', name: 'Not Contains' },
        { value: 'version_compare', name: 'Version Compare' }
      ],
      fieldsTypes: window.fieldsTypes ? window.fieldsTypes : {},
      logsLimit: window.logsLimit,
      logsToBeDeletedShow: window.logsToBeDeletedShow
    }
  },
  computed: {
    datesMinMax () {
      const result = []
      this.searchables.forEach(element => {
        if (element.type === 'date' && element.displayChart) {
          const dates = this.logsDataRaw.map(item => typeof item[element.key] !== 'undefined' ? new Date(item[element.key]) : new Date())
          result.push({ key: element.key, min: new Date(Math.min(...dates)), max: new Date(Math.max(...dates)) })
        }
      })
      return result
    },
    logsRelatedFiltered () {
      return this.logsRelated.filter(this.logsFilter)
    },
    clearUrls () {
      if (this.groupsMarked.length === 0) {
        return []
      }
      return this.groupsMarked.map(groupMarked => this.generateCleanUrls(groupMarked))
    },
    clearScriptUrlDefault () {
      return window.correctUrl + 'api/logs/clear'
    },
    keysCompound () {
      const keysCompound = {}
      for (const key in this.configCurrent) {
        if (Object.hasOwnProperty.call(this.configCurrent, key) && Array.isArray(this.configCurrent[key])) {
          this.configCurrent[key].forEach(setting => {
            if (setting.keys && setting.keys.length > 0) {
              keysCompound[setting.key] = setting.keys
            }
          })
        }
      }
      return keysCompound
    },
    keysWithReplacements () {
      const keysWithReplacements = []
      for (const key in this.configCurrent) {
        if (Object.hasOwnProperty.call(this.configCurrent, key) && Array.isArray(this.configCurrent[key])) {
          this.configCurrent[key].forEach(setting => {
            if (setting.replacements && setting.replacements.length > 0) {
              keysWithReplacements.push(setting.key)
            }
          })
        }
      }
      return keysWithReplacements
    },
    projectId () {
      return window.projectId
    }
  },
  watch: {
    searchables: {
      deep: true,
      handler: function (newVal) {
        this.parserKeysTypesUpdate(newVal)
      }
    },
    parserKeys: {
      deep: true,
      handler: function (newVal) {
        let parserKeysNew = Object.assign({}, newVal)
        if (!parserKeysNew || typeof parserKeysNew.default === 'undefined') {
          if (typeof parserKeysNew !== 'object' || parserKeysNew === null) {
            parserKeysNew = {}
          }
          parserKeysNew.default = this.calculateInitialConfig()
        }
        if (this.configCurrent && this.configCurrent['group-keys'][0]) {
          this.groupingKey = this.configCurrent['group-keys'][0]
        }
        if (this.pageInitialized) {
          this.logsRelated = this.findRelatedItems(this.attachCompoundKeys(this.logsDataRaw))
          this.unsavedChanges = true
        }
      }
    },
    parserKeysTypes: {
      deep: true,
      handler: function () {
        if (this.pageInitialized) {
          this.logsRelated = this.findRelatedItems(this.attachCompoundKeys(this.logsDataRaw))
          this.unsavedChanges = true
        }
      }
    },
    configSelected (val) {
      window.setCookie('configSelected', val)
      if (this.configCurrent && this.configCurrent['group-keys'][0]) {
        this.groupingKey = this.configCurrent['group-keys'][0]
      }
    },
    groupsMarked () {
      if (this.groupsMarked.length > 0) {
        window.onbeforeunload = (e) => {
          e.preventDefault() // Chrome requires returnValue to be set
          e.returnValue = ''
        }
      } else {
        window.onbeforeunload = null
      }
    },
    logsRelatedFiltered: {
      deep: true,
      handler: function () {
        this.logs = this.groupItems(this.logsRelatedFiltered).map(group => this.groupsSearchablesSet(group)).sort((a, b) => a.items.length - b.items.length).reverse()
        if (!this.configDefaultSet) {
          if (!this.parserKeys.default || (this.parserKeys.default['detail-keys'].length + this.parserKeys.default['group-keys'].length + this.parserKeys.default['item-keys'].length === 0)) {
            this.parserKeys.default = this.calculateInitialConfig()
          }
          this.searchablesSet()
          this.configDefaultSet = true
          if (this.configSelected === 'default') {
            this.configCurrent = this.parserKeys[this.configSelected]
          }
        }
      }
    }
  },
  created () {
    this.parserSettingsInit()
    if (this.parserKeys.default['detail-keys'].length + this.parserKeys.default['group-keys'].length + this.parserKeys.default['item-keys'].length === 0) {
      this.parserKeys.default = this.calculateInitialConfig()
    }
    if (typeof this.parserKeys[this.configSelected] === 'undefined') {
      this.configSelected = 'default'
    }
    this.configCurrent = this.parserKeys[this.configSelected]
    this.logsRelated = this.findRelatedItems(this.attachCompoundKeys(this.logsDataRaw))
    setTimeout(() => {
      this.filterFromUrlSet()
      this.pageInitialized = true
    }, 1000)
  },
  methods: {
    clearUrlsCopy () {
      navigator.clipboard.writeText(this.clearUrls.join('\n'))
    },
    relatedKeyCount (item) {
      return Object.values(item).map(itm => itm.__key__ + '|' + itm.index).reduce((o, itm) => {
        if (typeof o.push !== 'function') {
          o = []
        }
        if (o.indexOf(itm) === -1) {
          o.push(itm)
        }
        return o
      }).length
    },
    generateCleanUrls (groupMarked) {
      const clearScriptUrl = this.options.clearScriptUrl ? this.options.clearScriptUrl : this.clearScriptUrlDefault
      const clearScriptGlue = this.options.clearScriptGlue ? this.options.clearScriptGlue : '&'

      return clearScriptUrl + '?' + this.clearUrlParams(groupMarked).join(clearScriptGlue)
    },
    clearUrlParams (groupMarked) {
      const queryParams = ['project_handles=' + this.projectHandle]
      for (const key in groupMarked) {
        if (this.keysCompound[key] && this.keysCompound[key].length > 1) {
          window.messageShow('Compound key ' + key + ' with multiple keys cannot be used for marking groups.', 'error')
          return
        }

        let filterType = ''
        if (this.keysWithReplacements.includes(key)) {
          filterType = '__contains'
        }

        const keyFilter = this.keysCompound[key] ? this.keysCompound[key][0] : key
        queryParams.push('filter[' + encodeURIComponent(keyFilter) + filterType + ']' + '=' + encodeURIComponent(groupMarked[key]))
      }

      return queryParams
    },
    groupMarkedData (groupItem) {
      let keys = []
      if (typeof this.groupingKey.keys !== 'undefined' && this.groupingKey.keys.length > 0) {
        keys = this.groupingKey.keys
      } else if (typeof this.groupingKey.key !== 'undefined') {
        keys.push(this.groupingKey.key)
      } else {
        window.messageShow('Cannot mark group without valid grouping key. Check the first key in Group Keys if it is correctly set.', 'error')
        return
      }

      const value = {}
      for (const key of keys) {
        if (this.keysCompound[key] && this.keysCompound[key].length > 1) {
          window.messageShow('Compound Key ' + key + ' with multiple keys cannot be used for marking groups.', 'error')
          return
        }
        value[key] = Object.keys(groupItem.details.searchables[key])
      }

      return value
    },
    markGroup (groupItem) {
      if (this.groupsMarkedClearInProgress) {
        window.messageShow('Cannot mark group until clearing is finished.', 'error')
        return null
      }

      const value = this.groupMarkedData(groupItem)
      if (value) {
        this.groupsMarked.push(value)
      }
    },
    toggleRelated (related, key) {
      // We should decide whether to show a dialog (choose which related key) or to filter straight away
      if (Object.keys(related).length > 1) {
        // We have to show the dialog
        this.relatedKey = related
        this.$nextTick(() => {
          window.bootstrap.Modal.getOrCreateInstance('#modalRelatedKey').show()
        })
      } else {
        const keys = Object.keys(related)
        if (related[keys[0]] === this.relatedCurrent) {
          this.relatedCurrent = []
        } else {
          this.relatedCurrent = related[keys[0]]
          this.relatedCurrentKeys = this.searchables.filter((item) => {
            const k = key || keys[0]
            return (item.key === k) || item.identifierKey === k
          })
        }
      }
    },
    attachCompoundKeys (items) {
      const compoundKeys = ['group-keys', 'item-keys', 'detail-keys'].map(key => this.configCurrent[key].filter(item => typeof item === 'object' && item.keys)).reduce((last, current) => {
        if (!last) {
          last = []
        }
        return last.concat(current)
      }, []).sort((a, b) => b.keys.indexOf(a.key) !== -1 ? -1 : 0)

      if (compoundKeys.length > 0) {
        return items.map(item => {
          compoundKeys.forEach(compoundKey => {
            let value = compoundKey.keys.map(key => typeof item[key] !== 'undefined' ? item[key] : '').join(' ')
            if (compoundKey.replacements && compoundKey.replacements.length > 0) {
              compoundKey.replacements.forEach(replacement => {
                try {
                  const regExp = new RegExp(replacement.regexp, replacement.regexpFlags || 's')
                  value = value.replace(regExp, replacement.regexpTo)
                } catch (error) {
                  console.debug('Failed regular expression', error)
                }
              })
            }
            item[compoundKey.key] = value
          })
          return item
        })
      }
      return items
    },
    findRelatedItems (items) {
      if (typeof this.searchables === 'undefined' || this.searchables === null || this.searchables.length === 0) {
        return items
      }
      const identifierKey = this.searchables.filter((config) => config.type === 'request_identifier')
      const errorNumber = {}
      this.searchables.filter((config) => config.type === 'request_error_number').forEach((item) => {
        errorNumber[item.identifierKey] = item
      })
      for (const k in identifierKey) {
        const theKey = identifierKey[k]
        const idKey = theKey.key
        const foundIds = {}
        for (const i in items) {
          const idToFind = items[i][idKey]
          if (!idToFind || idToFind.length === 0) {
            continue
          }
          if (typeof errorNumber[idKey] === 'undefined') {
            if (typeof foundIds[idKey] === 'undefined') {
              foundIds[idKey] = {}
            }
            if (typeof foundIds[idKey][idToFind] === 'undefined') {
              foundIds[idKey][idToFind] = []
            }
            foundIds[idKey][idToFind].push({ __key__: items[i].__key__, index: i })
          } else if (typeof items[i][errorNumber[idKey].key] !== 'undefined' && items[i][errorNumber[idKey].key] > 1) {
            for (let j = i - 1; j >= 0; j--) {
              if (items[j][idKey] === idToFind) {
                if (items[i].__parsed__ && items[i].__parsed__.related[idKey]) {
                  continue
                }
                if (typeof items[j].__parsed__ === 'undefined') {
                  items[j].__parsed__ = { related: {} }
                }
                if (typeof items[i].__parsed__ === 'undefined') {
                  items[i].__parsed__ = { related: {} }
                }
                if (typeof items[j].__parsed__.related[idKey] === 'undefined') {
                  items[j].__parsed__.related[idKey] = [{ __key__: items[j].__key__, index: j }, { __key__: items[i].__key__, index: i }]
                } else {
                  if (!items[j].__parsed__.related[idKey].find((itm) => itm.__key__ === items[i].__key__ && itm.index === i)) {
                    items[j].__parsed__.related[idKey].push({ __key__: items[i].__key__, index: i })
                  }
                }
                items[i].__parsed__.related[idKey] = items[j].__parsed__.related[idKey]
                break
              }
            }
          }
        }
        if (Object.keys(foundIds).length > 0) {
          for (const l in foundIds) {
            for (const m in foundIds[l]) {
              if (foundIds[l][m].length > 1) {
                foundIds[l][m].map((item) => item.index).forEach((index) => {
                  if (typeof items[index].__parsed__ === 'undefined') {
                    items[index].__parsed__ = { related: {} }
                  }
                  items[index].__parsed__.related[l] = foundIds[l][m]
                })
              }
            }
          }
        }
      }
      return items
    },
    groupItems (data) {
      this.groupId = 0
      const groups = {}
      for (const i in data) {
        const item = data[i]
        const grid = this.groupId++
        let grouping = item[this.groupingKey.key]
        if (grouping) {
          if (Array.isArray(grouping)) {
            grouping = grouping.join('_')
          }
          grouping = grouping.replace(/(^\s+|\s+$)/g, '')
        }
        if (!grouping || grouping.length === 0) {
          grouping = '-- empty --'
        }
        if (typeof groups[grouping] === 'undefined') {
          groups[grouping] = { details: { searchables: {} }, grouping, items: [], __key__: grid }
        }
        groups[grouping].items.push(item)
      }
      return Object.values(groups)
    },
    logsFilter (item) {
      if (!this.groupsMarkedShow && this.groupsMarked.length > 0) {
        if (this.filterItemsMarked(item)) {
          return false
        }
      }
      if (Object.values(this.filterItems).filter((itm) => !!itm).length === 0) {
        return true
      }
      for (const key in this.filterItems) {
        const filterItem = this.filterItems[key]
        if (!filterItem.value) {
          continue
        }
        if (filterItem.type === 'string') {
          if (!this.filterItemString(filterItem, item[key])) {
            return false
          }
        } else if (filterItem.type === 'number') {
          if (!this.filterItemNumber(filterItem, item[key])) {
            return false
          }
        } else {
          if (!this.filterItemArray(filterItem, item[key])) {
            return false
          }
        }
      }
      return true
    },
    filterItemsMarked (log) {
      for (const groupMarked of this.groupsMarked) {
        const isGroupMarked = Object.keys(groupMarked).every(groupKey => {
          return typeof log[groupKey] !== 'undefined' && groupMarked[groupKey].some(key => key.indexOf(log[groupKey]) !== -1)
        })
        if (isGroupMarked) {
          return true
        }
      }
      return false
    },
    filterItemString (filterItem, item) {
      if (Array.isArray(filterItem.value)) {
        if (filterItem.value.length === 0) {
          return true
        }
        return filterItem.negative ? !filterItem.value.includes(item) : filterItem.value.includes(item)
      }

      if (filterItem.filter === 'regex') {
        try {
          return filterItem.negative ? !item.match(new RegExp(filterItem.value)) : item.match(new RegExp(filterItem.value))
        } catch (error) {
          window.messageShow(error, 'error')
          throw error
        }
      } else if (filterItem.filter === 'starts') {
        return filterItem.negative ? !item.startsWith(filterItem.value) : item.startsWith(filterItem.value)
      } else if (filterItem.filter === 'contains') {
        return filterItem.negative ? !item.includes(filterItem.value) : item.includes(filterItem.value)
      } else if (filterItem.filter === 'ends') {
        return filterItem.negative ? !item.endsWith(filterItem.value) : item.endsWith(filterItem.value)
      }
      return filterItem.negative ? filterItem.value !== item : filterItem.value === item
    },
    filterItemNumber (filterItem, item) {
      if (filterItem.filter === 'between') {
        if (typeof filterItem.value?.min !== 'number' || typeof filterItem.value?.max !== 'number') {
          return true
        }
        const match = item > filterItem.value.min && item < filterItem.value.max
        return filterItem.negative ? !match : match
      } else if (filterItem.filter === 'less') {
        return filterItem.negative ? item > filterItem.value : item < filterItem.value
      } else if (filterItem.filter === 'greater') {
        return filterItem.negative ? item < filterItem.value : item > filterItem.value
      }

      return filterItem.negative ? filterItem.value !== item : filterItem.value === item
    },
    filterItemArray (filterItem, item) {
      if (Array.isArray(filterItem.value)) {
        if (filterItem.value.length === 0) {
          return true
        }
        const match = item.some(value => filterItem.value.includes(value))
        return filterItem.negative ? !match : match
      }

      return filterItem.negative ? !item.includes(filterItem.value) : item.includes(filterItem.value)
    },
    calculateInitialConfig () {
      const rawSearchables = {}
      this.logs.map((group) => group.details.searchables).forEach((searchables) => {
        for (const i in searchables) {
          if (typeof rawSearchables[i] === 'undefined') {
            rawSearchables[i] = {}
          }
          Object.keys(searchables[i]).forEach(key => {
            if (typeof rawSearchables[i][key] === 'undefined') {
              rawSearchables[i][key] = 0
            }
            rawSearchables[i][key]++
          })
        }
      })
      // Now we need to make sense of the data, set what should be in the group row, and what in the item row
      const res = { active: 1, 'group-keys': [], 'item-keys': [], 'detail-keys': [] }
      const counts = {}
      Object.keys(rawSearchables).forEach((item) => {
        counts[item] = Object.values(rawSearchables[item]).reduce((prev, cur) => {
          return prev + cur
        })
      })
      const keys = Object.keys(rawSearchables)
      const availableKeys = []
      keys.forEach((key) => {
        if (this.groupingKey.key && this.groupingKey.key === key) {
          res['group-keys'].unshift({ key })
        } else {
          const arr = Object.keys(rawSearchables[key])
          arr.sort(function (a, b) { return b.length - a.length })
          if (arr[0].length > 50) {
            // We want to ignore too long items in the headers
          } else {
            const obj = { key, filteredKeys: Object.keys(rawSearchables[key]).length, allKeys: counts[key] }
            obj.percentage = obj.filteredKeys / obj.allKeys
            availableKeys.push(obj)
          }
        }
      })
      availableKeys.sort((a, b) => a.percentage - b.percentage)
      availableKeys.forEach((item) => {
        if (res['group-keys'].length < Math.min(availableKeys.length, 10) / 2) {
          res['group-keys'].push({ key: item.key })
        } else {
          res['item-keys'].push({ key: item.key })
        }
      })
      const detailKeys = keys.filter((key) => {
        return availableKeys.map((i) => i.key).filter((i) => i === key).length === 0
      })
      res['detail-keys'] = detailKeys.map(detailKey => { return { key: detailKey } })
      return res
    },
    configSelectedSet (newConfig) {
      if (newConfig === 'default' && this.parserKeys[newConfig] === undefined) {
        this.parserKeys[newConfig] = this.calculateInitialConfig()
      }
      this.configSelected = newConfig
      this.configCurrent = this.parserKeys[this.configSelected]
      this.logsRelated = this.findRelatedItems(this.attachCompoundKeys(this.logsDataRaw))
    },
    searchablesSet () {
      const searchables = {}
      this.logs.forEach((group) => {
        for (const i in group.details.searchables) {
          if (typeof searchables[i] === 'undefined') {
            searchables[i] = []
          }
          searchables[i] = [...new Set(searchables[i].concat(Object.keys(group.details.searchables[i])))]
        }
      })
      for (const i in searchables) {
        searchables[i].sort()
      }
      if (Object.keys(this.filterItems).filter((itm) => !!this.filterItems[itm]).length === 0 && Object.keys(searchables).length > 0) {
        if (typeof this.searchables !== 'object' || this.searchables === null) {
          this.searchables = []
        }
        const keys = this.searchables.map(itm => itm.key)
        for (const j in searchables) {
          if (keys.indexOf(j) === -1) {
            this.searchables.push({ key: j, maxLength: searchables[j][0].length, items: searchables[j] })
          }
        }
        if (this.logsRelated.length > 0) {
          this.searchables = this.searchables.map((item, key) => {
            if (!searchables[item.key]) {
              return null
            }
            item.items = item.items.filter(str => searchables[item.key].indexOf(str) !== -1)
            return item
          }).filter(item => item && item.items.length > 0)
        }
      }

      this.searchables.forEach(item => {
        if (typeof this.parserKeysTypes[item.key] === 'object') {
          for (const key in this.parserKeysTypes[item.key]) {
            if (['key', 'items', 'maxLength'].indexOf(key) === -1) {
              item[key] = this.parserKeysTypes[item.key][key]
            }
          }
        }
      })

      this.searchables.sort((a, b) => a.key.localeCompare(b.key))

      return searchables
    },
    groupsMarkedLightboxShow () {
      this.$nextTick(() => {
        window.bootstrap.Modal.getOrCreateInstance('#modalGroupsMarked').show()
      })
    },
    tagIgnoreCreateLightboxShow (log) {
      this.tagNew.name = ''
      this.tagNew.rules = []

      let keyVersion = null
      for (const key in this.parserKeysTypes) {
        if (Object.prototype.hasOwnProperty.call(this.parserKeysTypes, key) && this.parserKeysTypes[key].type === 'version') {
          keyVersion = key
          break
        }
      }
      if (keyVersion && log.details.searchables[keyVersion]) {
        this.tagNew.rules.push({ field: keyVersion, filter: 'version_compare', type: this.fieldsTypes[keyVersion], value: Object.keys(log.details.searchables[keyVersion]).join(',') })
      }

      const value = this.groupMarkedData(log)
      this.tagNewGroupValue = value
      for (const key in value) {
        if (Object.prototype.hasOwnProperty.call(value, key)) {
          if (this.keysCompound[key]) {
            if (this.keysCompound[key].length > 1) {
              window.messageShow('Compound Key ' + key + ' with multiple keys cannot be used for creating tags and will be ignored.', 'error')
              continue
            }
            this.tagNew.rules.push({ field: this.keysCompound[key][0], filter: 'contains', type: this.fieldsTypes[this.keysCompound[key][0]], value: value[key][0].replaceAll('\\', '\\\\').replaceAll('/', '\\/') })
          } else {
            this.tagNew.rules.push({ field: key, filter: 'equals', type: this.fieldsTypes[key], value: value[key][0] })
          }
        }
      }

      this.$nextTick(() => {
        window.bootstrap.Modal.getOrCreateInstance('#modalGroupsIgnore').show()
      })
    },
    cleanScriptSettingsShow () {
      this.$nextTick(() => {
        window.bootstrap.Modal.getOrCreateInstance('#modalCleanScriptSettings').show()
      })
    },
    settingsSave () {
      if (this.saving) {
        return
      }
      this.saving = true
      const promises = []

      for (const key in this.parserKeysTypes) {
        const parserKeysTypesData = {
          project_handle: this.projectHandle,
          handle: 'parserKeysTypes',
          key,
          settings: this.parserKeysTypes[key],
          active: 1
        }
        promises.push(
          window.asyncRequest('api/parser/' + (this.parserKeysTypes[key]._id ? this.parserKeysTypes[key]._id : 'new') + '/save', parserKeysTypesData)
            .then(response => {
              if (response) {
                this.parserKeysTypes[key]._id = response.id
              }
              return response
            })
        )
      }

      for (const key in this.parserKeysTypesToDelete) {
        const parserKeysTypesData = {
          project_handle: this.projectHandle,
          handle: 'parserKeysTypes',
          key,
          settings: this.parserKeysTypesToDelete[key],
          active: 0
        }
        promises.push(
          window.asyncRequest('api/parser/' + this.parserKeysTypesToDelete[key]._id + '/save', parserKeysTypesData)
            .then(response => {
              if (response) {
                delete this.parserKeysTypesToDelete[key]
              }
              return response
            })
        )
      }

      for (const key in this.parserKeys) {
        const parserKeysData = {
          project_handle: this.projectHandle,
          handle: 'parserKeys',
          key,
          settings: this.parserKeys[key],
          active: 1
        }
        promises.push(
          window.asyncRequest('api/parser/' + (this.parserKeys[key]._id ? this.parserKeys[key]._id : 'new') + '/save', parserKeysData)
            .then(response => {
              if (response) {
                this.parserKeys[key]._id = response.id
              }
              return response
            })
        )
      }

      Promise.all(promises).then(responses => {
        if (responses.filter(Boolean).length === promises.length) {
          window.messageShow('Successful saved Parser settings', 'success')
        }
        this.saving = false
        this.unsavedChanges = false
      })
    },
    cleanStringSettingsSave () {
      if (this.cleanStringSettingsSaving) {
        return
      }
      this.cleanStringSettingsSaving = true

      window.asyncRequest('api/parser/' + (this.options._id ? this.options._id : 'new') + '/save', { project_handle: this.projectHandle, handle: 'options', key: 'options', settings: this.options })
        .then(response => {
          if (response) {
            this.options._id = response.id
            window.messageShow('Successful saved Clean string Settings', 'success')
            this.$nextTick(() => {
              window.bootstrap.Modal.getOrCreateInstance('#modalCleanScriptSettings').hide()
            })
          }
          this.cleanStringSettingsSaving = false
          return response
        })
    },
    parserSettingsInit () {
      if (!window.parserSettings) {
        return
      }

      if (window.parserSettings.parserKeysTypes && Object.values(window.parserSettings.parserKeysTypes).length > 0) {
        this.parserKeysTypes = window.parserSettings.parserKeysTypes
      }
      if (window.parserSettings.parserKeys && Object.values(window.parserSettings.parserKeys).length > 0) {
        this.parserKeys = window.parserSettings.parserKeys
        const configSelected = window.getCookie('configSelected')
        if (this.parserKeys[configSelected]) {
          this.configSelectedSet(configSelected)
        }
      }
      if (window.parserSettings.options && Object.values(window.parserSettings.options).length > 0) {
        this.options = window.parserSettings.options
      }
    },
    parserKeysTypesUpdate (searchables) {
      searchables.forEach(searchable => {
        if (searchable.type || searchable.forceInput) {
          const parserKeyTypeNew = {}
          for (const key in searchable) {
            if (['key', 'items', 'maxLength'].indexOf(key) === -1) {
              parserKeyTypeNew[key] = searchable[key]
            }
          }
          if (this.parserKeysTypesHasChanges(searchable.key, parserKeyTypeNew)) {
            this.parserKeysTypes[searchable.key] = parserKeyTypeNew
          }
        } else if (typeof this.parserKeysTypes[searchable.key] === 'object') {
          if (this.parserKeysTypes[searchable.key]._id) {
            this.parserKeysTypesToDelete[searchable.key] = this.parserKeysTypes[searchable.key]
            this.unsavedChanges = true
          }
          delete this.parserKeysTypes[searchable.key]
        }
      })
    },
    parserKeysTypesHasChanges (searchableKey, parserKeyTypeNew) {
      if (!this.parserKeysTypes[searchableKey]) {
        return true
      }

      return Object.keys(parserKeyTypeNew).some(item => !this.parserKeysTypes[searchableKey][item] || this.parserKeysTypes[searchableKey][item] !== parserKeyTypeNew[item])
    },
    filterSet (filter) {
      this.filterCurrent = filter
      if (filter) {
        this.filterItems = JSON.parse(JSON.stringify(filter.settings))
      }
    },
    logsDataInit (logsData) {
      let index = 0
      logsData.forEach(log => {
        log.__key__ = index++
      })
      return logsData
    },
    groupsMarkedClear () {
      if (!confirm('Are you sure you want to marked logs for deletion?')) {
        return
      }

      if (this.groupsMarkedClearInProgress) {
        return
      }
      this.groupsMarkedClearInProgress = true
      const promises = []

      this.clearUrls.forEach(clearUrl => {
        promises.push(window.asyncRequest(clearUrl))
      })

      Promise.all(promises).then(responses => {
        if (responses.filter(Boolean).length === promises.length) {
          window.messageShow('Successful marked ' + responses.reduce((sum, response) => sum + response.count, 0) + ' logs for deletion', 'success')
          this.logsDataRaw = this.logsDataRaw.filter(log => !this.filterItemsMarked(log))
          this.groupsMarked = []
          this.logsRelated = this.findRelatedItems(this.attachCompoundKeys(this.logsDataRaw))
          window.bootstrap.Modal.getOrCreateInstance('#modalGroupsMarked').hide()
        }
        this.groupsMarkedClearInProgress = false
      })
    },
    groupsMarkedHide () {
      this.logsDataRaw = this.logsDataRaw.filter(log => !this.filterItemsMarked(log))
      this.groupsMarked = []
      this.logsRelated = this.findRelatedItems(this.attachCompoundKeys(this.logsDataRaw))
      window.bootstrap.Modal.getOrCreateInstance('#modalGroupsMarked').hide()
    },
    groupsSearchablesSet (group) {
      group.items.forEach(element => {
        for (const i in element) {
          if (i === '__key__' || i === '__parsed__') {
            continue
          }
          if (typeof group.details.searchables[i] === 'undefined') {
            group.details.searchables[i] = {}
          }
          if (typeof element[i] === 'object') {
            let values = element[i]
            if (!Array.isArray(element[i])) {
              values = Object.values(element[i])
            }
            values.forEach(item => {
              if (typeof group.details.searchables[i][item] === 'undefined') {
                group.details.searchables[i][item] = 0
              }
              group.details.searchables[i][item]++
            })
          } else {
            if (typeof group.details.searchables[i][element[i]] === 'undefined') {
              group.details.searchables[i][element[i]] = 0
            }
            group.details.searchables[i][element[i]]++
          }
        }
      })
      return group
    },
    tagCreate (process = false) {
      if (!this.tagNew.name || this.tagNew.name.trim().length === 0) {
        this.tagNewErrors.name = 'Name is required'
        return
      } else {
        delete this.tagNewErrors.name
      }

      if (!this.tagNew.active_until) {
        this.tagNewErrors.active_until = 'Active until must be set.'
        return
      } else {
        delete this.tagNewErrors.active_until
      }

      if (!this.tagNew.rules || this.tagNew.rules.length === 0) {
        this.tagNewErrors.rules.global = 'Tag has to have at least one Rule.'
        return
      } else {
        delete this.tagNewErrors.rules.global
      }

      for (const index in this.tagNew.rules) {
        if (Object.prototype.hasOwnProperty.call(this.tagNew.rules, index) && !this.tagNew.rules[index].value) {
          this.tagNewErrors.rules[index] = 'Value is required'
          return
        } else {
          delete this.tagNewErrors.rules[index]
        }
      }

      this.tagSaving = true
      window.asyncRequest('api/tags/new/save' + (process ? '?save_and_process=1' : ''), this.tagNew)
        .then(response => {
          if (response) {
            window.messageShow(response.message, 'success')
            if (process) {
              this.groupsMarked.push(this.tagNewGroupValue)
              this.groupsMarkedHide()
            }
            this.tagNewGroupValue = null
            this.$nextTick(() => {
              window.bootstrap.Modal.getOrCreateInstance('#modalGroupsIgnore').hide()
            })
          }
          this.tagSaving = false
          return response
        })
    },
    tagActiveUntil () {
      const now = new Date()
      now.setDate(now.getDate() + 2 * 7)
      return this.datetimeFormat(now, 'Y-m-d H:i')
    },
    filterFromUrlSet () {
      if (!location.search) {
        return
      }

      const filter = this.filterFromUrlParse()
      if (Object.keys(filter).length > 0) {
        for (const key in filter) {
          if (Object.prototype.hasOwnProperty.call(filter, key)) {
            if (filter[key].filter !== 'version_compare' && filter[key].type === 'string') {
              const searchable = this.searchables.find(searchable => searchable.key === key)
              if (searchable) {
                searchable.forceInput = 'input'
              }
            }

            if (filter[key].filter === 'version_compare') {
              filter[key].value = filter[key].value.split(',')
              filter[key].filter = 'equals'
            }

            this.filterItems[key] = filter[key]
          }
        }
      }
    },
    filterFromUrlParse () {
      const filter = {}

      const query = decodeURI(location.search).replace('?', '').split('&')
      query.forEach(value => {
        const match = decodeURIComponent(value.replace(/\+/g, ' ')).replace(/\\\\/g, '\\').replace(/\\\/+/g, '/').match(/filter\[([a-zA-Z_-]+)\](\[(min|max)\])?=(.*)/)

        if (match && match[1] && match[4]) {
          let key = match[1]
          const filterType = match[1].match(/__([a-zA-Z_]+)?/)
          if (filterType) {
            key = key.replace(filterType[0], '')
          }

          let negative = false
          if (filterType[1].includes('not_')) {
            negative = true
            filterType[1] = filterType[1].replace('not_', '')
          }

          let value = match[4]
          let type = 'string'
          if (this.fieldsTypes[key]) {
            if (this.fieldsTypes[key] === 'int') {
              value = parseInt(value)
              type = 'number'
            } else if (this.fieldsTypes[key] === 'double') {
              value = parseFloat(value)
              type = 'number'
            }
          }

          if (!filter[key]) {
            filter[key] = { filter: filterType[1], negative, type, value: null }
          }
          if (match[3]) {
            if (filter[key].value === null) {
              filter[key].value = {}
            }
            filter[key].value[match[3]] = value
          } else {
            filter[key].value = value
          }
        }
      })

      return filter
    },
    logsLoad () {
      if (this.logsLimit === 0) {
        window.messageShow('All logs already loaded.', 'info')
        return
      }

      const queryParams = ['project_handle=' + this.projectHandle, 'to_be_deleted_show=' + this.logsToBeDeletedShow, 'skip=' + this.logsLimit]
      this.logsLimit = this.logsLimit * 2
      queryParams.push('limit=' + this.logsLimit)

      window.asyncRequest('api/logs/load?' + queryParams.join('&'), this.filterItems)
        .then(response => {
          if (response) {
            this.logsDataRaw = this.logsDataInit(this.logsDataRaw.concat(response.items))
            this.logsRelated = this.findRelatedItems(this.attachCompoundKeys(this.logsDataRaw))

            if (response.items.length < this.logsLimit) {
              window.messageShow('All logs loaded.', 'info')
              this.logsLimit = 0
            }
          }
        })
    }
  }
}
</script>
<style lang="scss" scoped>
div.root {
  font-family: sans-serif;
  .configurations>*, .log-items {
    padding: 15px;
  }
  .configurations {
    >* {
      border-bottom: 1px solid var(--bs-border-color);
    }
  }
  .configurations:empty {
    border-bottom: 0px solid;
  }
  >ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }
}
ul.select-related-items {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  li {
    cursor: pointer;
  }
}
div.resolved-items-container {
  position: fixed;
  bottom: 5px;
  right: 5px;
  background: white;
  padding: 5px;
  text-align: right;
  a {
    cursor: pointer;
  }
}
.disable-transitions>span, .disable-transitions>span>li {
  transition: none !important;
}
.list-enter-active, .list-leave-active {
  transition: all .3s;
}
.list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateX(30px);
}
</style>
